.dropzone {
    border: unset;
    padding: 0;
}

.dropzone .dz-message {
    border: dashed 2px #0F74A8;
    padding: 15px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin-top: 0!important;
}

.dropzone .dz-preview {
    background-color: transparent!important;
    min-height: unset!important;
    margin: 0!important;
}

.dropzone .dz-preview .dz-image {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}

.dropzone .dz-preview .dz-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dropzone .dz-preview:hover .dz-image img {
    filter: unset!important;
}
