/*body {
	margin: 100px 0;
}

footer {
	margin: 50px 0;
}

.item {
	margin-bottom: 30px;
}*/

.modal-body {
	margin: 0 auto;
}

.modal-content {
	margin-top: 50px;
}

.ico-btn {
	padding: 5px;
}

.ico-btn:hover {
	box-shadow: 0px 0px 1px #111111;
}

.ico-del {
	color: #e00000;
}

.ico-edit {
	color: #00BFFF;
}

.checkbox-center {
	text-align: center;
	padding: 10px !important;
}

.submenu {
	display: none;
	background-color: #222d32;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 100%;
}

.has-child:hover .submenu {
	display: block;
}

.submenu ul {
	z-index: 999;
}

.submenu ul li a {
	color: #b8c7ce;
}
