    <script src="/panel/plugins/async/async.js"></script>

    <!-- Скрипт загрузки файлов -->
    <script src="/panel/admin/js/filepanel.js"></script>
    <script src="/panel/admin/js/flatpickr.js"></script>
    <script src="/panel/admin/js/ru.js"></script>

    <!-- Bootstrap 3.3.5 -->
    <script src="/panel/admin/js/bootstrap.min.js"></script>

    <script src="/panel/plugins/ckeditor/ckeditor.js"></script>
    <script src="/panel/admin/js/jquery.nestable.js"></script>

    <!-- custom script -->
    <script src="/panel/admin/js/custom.js"></script>

    <script src="/assets/libs/dropzone/dropzone.min.js"></script>
    <script>
        Dropzone.autoDiscover = false;
    </script>
</body>
</html>
