{% macro dropzone(form_id = 'dropzone', name = 'photos', images = [], redirect = null) %}
    <div class="dz-message">
        Перетащите файлы сюда, чтобы загрузить их
    </div>

    <div id="dz-preview-{{ form_id }}" class="sortable dz-preview dz-file-preview">
        {% for image in images %}
            <div class="dz-preview dz-uploaded">
                <input type="hidden" name="position_img[{{ image.id }}]" value="{{ image.position }}">

                <div class="dz-image">
                    <img src="/imagecache/dz_preview{{ image.url }}" alt="{{ image.name }}">
                </div>

                <a class="async dz-remove text-center"
                   href="/api/files/{{ image.id }}"
                   data-method="delete"
                   data-confirmation="Удалить изображение?"
                >
                    Удалить
                </a>
            </div>
        {% endfor %}
    </div>

    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous"></script>

    <script>
        $(function () {
            function onSuccess() {
                {% if redirect %}
                window.location = '{{ redirect }}';
                {% else %}
                window.location.reload();
                {% endif %}
            }

            let dz = new Dropzone('#{{ form_id }}', {
                autoDiscover: false,
                autoProcessQueue: false,
                maxFilesize: 7,
                maxFiles: 10,
                parallelUploads: 10,
                uploadMultiple: true,
                paramName: '{{ name }}',
                acceptedFiles: 'image/*',
                previewsContainer: '#dz-preview-{{ form_id }}',
                timeout: 3600000,
                addRemoveLinks: true,
                dictRemoveFile: 'Удалить',
                success: onSuccess
            });

            $('#{{ form_id }}').on('submit', e => {
                if (dz.files.length) {
                    e.preventDefault();
                    dz.processQueue();
                } else {
                    onSuccess();
                }
            });

            $('#{{ form_id }} .dz-message').on('dragover', function (e) {
                let el = $(e.currentTarget);
                el.css({borderWidth: 4, borderColor: 'black'});
            });

            $('#{{ form_id }} .dz-message').on('dragleave', function (e) {
                let el = $(e.currentTarget);
                el.css({borderWidth: 2, borderColor: '#0F74A8'});
            });


        });
    </script>

    <script>
        $('#dz-preview-{{ form_id }}').sortable({
            update: (event, ui) => console.log(ui.item.index())
        });
    </script>
{% endmacro %}
