{% block content %}
    {% set id = id ?: 'uploader' %}

    <div id="{{ id }}" class="page-files"></div>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/panel/admin/wtolk-uploader/wtolk-uploader.css">
{% endblock %}

{% block script %}
    {% set id = id ?: 'uploader' %}
    {% set name = name ?: 'files' %}
    {% set preview = preview ?: false %}
    {% set files = files ?: '[]' %}

    <script src="/panel/admin/js/sortable.js"></script>
    <script src="/panel/admin/wtolk-uploader/wtolk-uploader.js"></script>
    <script>
        var uploader = new WtolkUploader({
            el: '#{{ id }}',
            input_name: "{{ name }}[]",
            preview: {{ preview }},
            files: {{ files|raw }}
        });
    </script>
{% endblock %}
