{% set menu = getMenu('main-menu') %}

{% from 'macro/icon.html.twig' import icon %}

<div id="mobile-menu" class="d-lg-none">
    <nav>
        <ul class="list-group">
            <li class="list-group-item">
                <div id="mobile-menu-close" class="btn btn-mobile-header">
                    {{ icon('x') }}
                </div>
            </li>

            {% for item in menu[-1] %}
                <li class="list-group-item">
                    <a href="/{{ item.link }}">
                        {{ item.title }}
                    </a>
                </li>
            {% endfor %}

            <li class="list-group-item">
                <a href="{{ path_for('vsk.reservation.show') }}" class="a a-alt">
                    Забронировать домик
                </a>
            </li>

            <li class="list-group-item mt-3" style="border-bottom: 0;">
                <a href="tel:+79233580808" class="header-phone a">+7 (923) 358-08-08 (Мегафон)</a>
            </li>

            <li class="list-group-item" style="border-bottom: 0;">
                <a href="tel:+79503020808" class="header-phone a">+7 (950) 302-08-08 (Теле2)</a>
            </li>
        </ul>
    </nav>
</div>
