{% block content %}
<div id="modal-reservation"
     class="modal fade"
     data-backdrop="static"
     data-keyboard="false"
     tabindex="-1"
     role="dialog"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Забронировать номер/домик</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="onClose">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ path_for('vsk.orders.create') }}" method="POST">
                    <input type="hidden" name="home_id" v-model="home.id">

                    <div class="form-group row">
                        <label class="col-12 col-md-6 col-form-label label">
                            Дом для бронирования:
                        </label>

                        <div class="col-12 col-md-6">
                            <input type="text" class="input" readonly disabled v-model="home.title">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-12 col-md-6 col-form-label label">
                            Дата заезда:
                        </label>

                        <div class="col-12 col-md-6">
                            <flatpickr name="from"
                                       class="input"
                                       required
                                       v-model="from"
                                       @input="setFrom"
                                       :config="{...options, ...fp1}"
                            >
                            </flatpickr>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-12 col-md-6 col-form-label label">
                            Дата выезда:
                        </label>

                        <div class="col-12 col-md-6">
                            <flatpickr name="to"
                                       class="input"
                                       required
                                       v-model="to"
                                       @input="setTo"
                                       :config="{...options, ...fp2}"
                            >
                            </flatpickr>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-12 col-md-6 col-form-label label">Как Вас зовут:</label>

                        <div class="col-12 col-md-6">
                            <input type="text" name="name" class="input" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-12 col-md-6 col-form-label label">Номер телефона:</label>

                        <div class="col-12 col-md-6">
                            <input type="tel" name="phone" class="input" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-12 col-md-6 col-form-label label">Ваш email адрес:</label>

                        <div class="col-12 col-md-6">
                            <input type="email" name="email" class="input">
                            <small class="d-block text-muted">
                                <i>
                                    На указанный адрес будет выслано уведомление об оплате
                                </i>
                            </small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <a href="/polzovatelskoe-soglashenie" target="_blank">
                                <small>
                                    Пользовательское соглашение
                                </small>
                            </a>
                        </div>
                    </div>

                    <div class="form-group form-check row">
                        <div class="col-12">
                            <input type="checkbox" class="form-check-input" required>
                            <label class="form-check-label label">Я согласен с пользовательским соглашением</label>
                        </div>
                    </div>

                    <button id="modal-submit" class="d-none" type="submit" :disabled="notAllowed"></button>
                </form>

                <div v-for="note in priceList.notification" class="alert alert-warning" role="alert">
                    <small>${note}</small>
                </div>

                <div class="row" v-if="priceList.price">
                    <div class="col-12">
                        <h6>Стоимость дома на выбранный период: ${priceList.price} руб</h6>
                    </div>

                    <div class="col-12" v-if="home.percentage">
                        <h6>Стоимость бронирования: ${getAmount} руб.</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-danger" role="alert" v-if="priceList.error">
                            <small>${ priceList.error }</small>
                        </div>
                    </div>
                </div>

                <div class="row" v-if="home.percentage">
                    <div class="col-12">
                        <small class="text-muted">
                            <i>*Бронирование ${home.percentage}% от цены</i>
                        </small>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button"
                        class="button button-small btn-secondary"
                        data-dismiss="modal"
                        @click="onClose"
                >
                    Отмена
                </button>
                <button type="button"
                        class="button button-small"
                        @click="submit"
                        :disabled="notAllowed || reserved"
                >
                    Забронировать
                </button>
                <br>
                <p>Обработка платежей осуществляется процессинговой системой Сбербанк </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-flatpickr-component@7"></script>
    <script>
        let modal = new Vue({
            el: '#modal-reservation',
            delimiters: ['${', '}'],
            data: {
                home: {},
                from: null,
                to: null,
                priceList: {},
                options: {
                    locale: "ru",
                    altInput: true,
                    altFormat: 'd.m.Y',
                    allowInput: true,
                    disableMobile: true
                },
                fp1: {
                    minDate: '{{ 'now'|date('Y-m-d') }}',
                    maxDate: '2020-08-31'
                },
                fp2: {
                    minDate: '{{ 'tomorrow'|date_modify("+1 day")|date('Y-m-d') }}',
                    maxDate: '2020-09-01'
                },
                onFetchPrice: () => {}
            },
            components: {
                flatpickr: VueFlatpickr
            },
            computed: {
                getAmount() {
                    if (this.home.percentage && this.priceList.price) {
                        let price = (this.home.percentage / 100) * this.priceList.price;

                        if (this.priceList.weekend) {
                            price *= 2;
                        }

                        return price;
                    }

                    return null;
                },

                notAllowed() {
                    return this.priceList.price === 0;
                },

                reserved() {
                    return this.priceList.reserved;
                }
            },
            methods: {
                setFrom() {
                    let date = new Date(this.from);
                        date.setDate(date.getDate() + 1);

                    this.fp2.minDate = date;
                    this.fetchHomeDatePrice();
                },

                setTo() {
                    let date = new Date(this.to);
                        date.setDate(date.getDate() - 1);

                    this.fp1.maxDate = date;
                    this.fetchHomeDatePrice();
                },

                fetchHomeById(id) {
                    return fetch("{{ path_for('vsk.homes.apiGetById', {id: ''}) }}" + id)
                        .then(resp => resp.json())
                        .then(home => this.home = home);
                },

                fetchHomeDatePrice() {
                    if (this.home.id && this.from && this.to) {
                        return fetch(`/api/homes/${this.home.id}/price?from=${this.from}&to=${this.to}`)
                            .then(resp => resp.json())
                            .then(priceList => {
                                this.priceList = priceList;

                                if (priceList.from && this.from !== priceList.from) {
                                    this.from = priceList.from;
                                }

                                if (priceList.to && this.to !== priceList.to) {
                                    this.to = priceList.to;
                                }

                                this.onFetchPrice(priceList);
                            });
                    }
                },
                submit() {
                    $('#modal-submit').trigger('click');
                },
                onClose() {
                    this.priceList = {};
                    this.from = null;
                    this.to = null;
                }
            }
        })
    </script>
    <script>
        $('input[type="tel"]').mask('+7(999)999-99-99');
    </script>
{% endblock %}
