{% block content %}
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>

        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/themes/vsk/libs/photoswipe/photoswipe.css">
    <link rel="stylesheet" href="/themes/vsk/libs/photoswipe/default-skin/default-skin.css">

    <style>
        .pswp__img {
            object-fit: contain;
        }
    </style>
{% endblock %}

{% block script %}
    <script src="/themes/vsk/libs/photoswipe/photoswipe.js"></script>
    <script src="/themes/vsk/libs/photoswipe/photoswipe-ui-default.js"></script>

    <script>
        // var pswpElement = document.querySelectorAll('.pswp')[0];

        // var items = [
        //     {% for image in images %}
        //     {
        //         src: '/imagecache/swiper{{ image.url }}',
        //         w: 1024,
        //         h: 1024
        //     },
        //     {% endfor %}
        // ];

        // var options = {
        //     closeEl:true,
        //     captionEl: true,
        //     fullscreenEl: true,
        //     zoomEl: true,
        //     counterEl: true,
        //     arrowEl: true,
        //     preloaderEl: true,
        // };

        // function galleryInit(index = 0) {
        //     var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, {...options, index});
        //     gallery.init();
        // }

        // let elems = document
        //     .querySelectorAll('.gallery-item img')
        //     .forEach(elem => elem.addEventListener('click', e => galleryInit(elem.dataset.itemIndex || 0)))
    </script>
{% endblock %}
