{% set disabled = isDisabled() %}
{% set homes = getHomeOrdersByDate() %}
{% set schedule = getSchedule() %}
{% set summer_start = '2020-06-01'|date('U') %}
{% set period_start = "now"|date('U') %}
{% set period_end = '2020-09-01'|date('U') %}
{% set month_names = {'06': 'июня', '07': 'июля', '08': 'августа'} %}
{% set weekday_names = {'Monday': 'Понедельник', 'Tuesday': 'Вторник', 'Wednesday': 'Среда', 'Thursday': 'Четверг', 'Friday': 'Пятница', 'Saturday': 'Суббота', 'Sunday': 'Воскресение'} %}

{% if period_start > period_end %}
    {% set period_start = period_end %}
{% endif %}

{% if period_start < summer_start %}
    {% set period_start = summer_start %}
{% endif %}

<div class="t-scroller">
    <div class="thead">
        <div class="scroller syncscroll" name="myElements">
            <div class="track">
                <div class="cell cell-sticky"></div>
                {% for day in range(period_start, period_end, 86400) %}
                <div class="cell">{{ day|date('d') ~ ' ' ~ month_names[day|date('m')] }}<br>
                    {{ weekday_names[day|date('l')]}}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="tbody">
        <div class="tracks syncscroll" name="myElements">
            {% for home in homes %}
            <div class="track">
                <div class="cell cell-sticky">
                    <a href="{{ path_for('vsk.homes.showBySlug', {slug: home.id}) }}" class="a" target="_blank">
                        {{ home.title }}
                    </a>
                </div>

                {% for day in range(period_start, period_end, 86400) %}
                    {% set week_start = day|date_modify('this week')|date('Y-m-d') %}

                    {% if not week or week.from != week_start %}
                        {% set week = schedule.where('from', week_start).first() %}
                    {% endif %}

                    {% set wh = week.homes.find(home.id) %}
                    {% set isWeekend = day|date('D') in ['Fri', 'Sat'] %}
                    {% set price = isWeekend ?
                        wh.pivot.weekend_price :
                        wh.pivot.weekdays_price
                    %}

                    {% if wh.pivot.wholesale and day|date('D') == 'Sat' %}

                    {% else %}
                        {% set order = getOrderByDate(home, day|date('Y-m-d')) %}

                        <div class="cell
                             {% if wh.pivot.wholesale and day|date('D') == 'Fri' %}
                                 cell-2x
                             {% endif %}

                             {% if order or disabled %}
                                 reserved
                             {% endif %}
                             "
                        >
                            {% if order or disabled %}
                                Занят
                            {% elseif price %}
                                <a href="#"
                                   class="text-black"
                                   data-toggle="modal"
                                   data-target="#modal-reservation"
                                   data-home-id="{{ home.id }}"
                                   data-date="{{ day|date('Y-m-d') }}"
                                >
                                {% if wh.pivot.wholesale and day|date('D') == 'Fri' %}
                                    {{ price*2 }} руб.
                                {% else %}
                                    {{ price }} руб.
                                {% endif %}
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script src="/themes/vsk/libs/syncscroll/syncscroll.js"></script>
