{% if slides|length %}
    <div id="main-slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for slide in slides %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    {% if slide.title %}
                        <h2 class="carousel-item-title">{{ slide.title }}</h2>
                    {% endif %}
                    <img src="/imagecache/slider_image{{ slide.image.url }}" class="d-block">
                </div>
            {% endfor %}
        </div>

        <div class="carousel-grid"></div>


            <a class="carousel-control-prev" href="#main-slider" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Предыдущий</span>
            </a>
            <a class="carousel-control-next" href="#main-slider" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Следующий</span>
            </a>

    </div>
{% endif %}
