<link rel="stylesheet" href="/themes/vsk/libs/bootstrap-4/css/bootstrap.css">
<link rel="stylesheet" href="/themes/vsk/css/style.css?v=1.2">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
