{% extends "layout.twig" %}

{% block content %}
    <style>
        .checkbox-block {
            display: inline-block;
            margin-right: 15px;
        }
    </style>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="pages-title">
                    <h1>{{ home.title ?: 'Добавить домик' }}</h1>
                    <hr>
                </div>

                <div class="box box-primary">
                    <form id="home-form"
                          method="POST"
                          action="{{ path_for('vsk.homes.set', {id: home.id}) }}"
                          role="form"
                          enctype="multipart/form-data"
{#                          class="dropzone"#}
                    >
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form">
                                    <div class="field">
                                        <label>Название</label>
                                        <input type="text"
                                               name="title"
                                               class="form-control"
                                               value="{{ home.title }}"
                                               required="required"
                                        >
                                    </div>

                                    <div class="field">
                                        <label for="editor1">Описание</label>
                                        <textarea id="editor1" name="description" cols="30" rows="10">
                                            {{ home.description }}
                                        </textarea>
                                    </div>

                                    <div class="field">
                                        <label>Вес (позиция в списке)</label>
                                        <input type="number"
                                               name="position"
                                               class="form-control"
                                               value="{{ home.position }}"
                                               min="0"
                                               max="1000"
                                               step="1"
                                        >
                                    </div>

                                    <div class="field">
                                        <label>Процент бронирования от цены</label>
                                        <input type="number"
                                               name="percentage"
                                               class="form-control"
                                               value="{{ home.percentage ?: percentage.value }}"
                                               required="required"
                                               min="0"
                                               max="100"
                                        >
                                    </div>

                                    <div class="field">
                                        <label>Площадь, кв.м</label>
                                        <input type="number"
                                               name="square"
                                               class="form-control"
                                               value="{{ home.square }}"
                                               required="required"
                                               min="0"
                                        >
                                    </div>

                                    <div class="field">
                                        <label>Количество спальных мест</label>
                                        <input type="number"
                                               name="beds"
                                               class="form-control"
                                               value="{{ home.beds }}"
                                               required="required"
                                               min="0"
                                        >
                                    </div>

                                    <div class="field">
                                        <span class="checkbox-block">
                                            <input class="form-check-input"
                                                   type="checkbox"
                                                   id="home.electric"
                                                   name="electric"
                                                   {% if home.electric %}checked{% endif %}
                                            >
                                            <label class="form-check-label" for="home.electric">
                                                Есть электричество
                                            </label>
                                        </span>

                                        <span class="checkbox-block">
                                            <input class="form-check-input"
                                                   type="checkbox"
                                                   id="home.shower"
                                                   name="shower"
                                                   {% if home.shower %}checked{% endif %}
                                            >
                                            <label class="form-check-label" for="home.shower">
                                                Есть душ
                                            </label>
                                        </span>

                                        <span class="checkbox-block">
                                            <input class="form-check-input"
                                                   type="checkbox"
                                                   id="home.bestseller"
                                                   name="bestseller"
                                                   {% if home.bestseller %}checked{% endif %}
                                            >
                                            <label class="form-check-label" for="home.bestseller">
                                                Хит продаж
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form">
                                    <div class="field dropzone">
                                        <label>Фото</label>
                                        {{ block('content', 'shared/uploader.twig') }}
{#                                        {% from 'macro/dropzone.html.twig' import dropzone %}#}
{#                                        {{ dropzone('home-form', 'photos', home.photos, path_for('vsk.homes.get')) }}#}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-save btn-primary">
                                    Сохранить
                                </button>

                                {% if home.id %}
                                    <a href="{{ path_for('vsk.homes.delete', {id: home.id}) }}"
                                       class="btn btn-danger async"
                                       data-method="delete"
                                       data-confirmation="Удалить запись?"
                                       data-redirect="{{ path_for('vsk.homes.get') }}"
                                    >
                                        Удалить
                                    </a>
                                {% endif %}
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block style %}
    {{ block('style', 'shared/uploader.twig') }}
{% endblock %}

{% block script %}
    {% with {name: 'photos', preview: 'true', files: home.photos} %}
        {{ block('script', 'shared/uploader.twig') }}
    {% endwith %}
{% endblock %}
