{% extends "layout.twig" %}

{% block content %}
    <style>
        table td {
            vertical-align: middle!important;
        }

        table td a.btn {
            color: #ffffff!important;
            width: 38px;
            height: 38px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    </style>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="pages-title">
                    <div class="row">
                        <div class="col-xs-12 col-md-8">
                            <h1>Домики</h1>
                        </div>
                    </div>
                    <hr>
                </div>

                <div class="box">

                    {% if flash_messages %}
                        <div class="row">
                            {% for succ in flash_messages.success %}
                                <div class="col-xs-12">
                                    <div class="alert alert-success" role="alert">
                                        {{ succ }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    {% endif %}

                    <div class="box-body">
                        <table id="example2" class="table table-hover">
                            <thead>
                            <tr>
                                <th>Фото</th>
                                <th>Название</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for home in homes %}
                                <tr>
                                    <td width="100" height="75">
                                        {% if home.photos[0] %}
                                        <img src="/imagecache/dz_preview{{ home.photos[0].url }}"
                                             alt=""
                                             onerror="this.src =  '/assets/img/no-image.png'"
                                             style="width: 100%"
                                        >
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path_for('vsk.homes.getById', {id: home.id}) }}">
                                            {{ home.title }}
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary"
                                           title="Редактировать"
                                           href="{{ path_for('vsk.homes.getById', {id: home.id}) }}"
                                        >
                                            <i class="fa fa-pencil"></i>
                                        </a>

                                        <a href="{{ path_for('vsk.homes.delete', {id: home.id}) }}"
                                           class="async btn btn-danger"
                                           title="Удалить"
                                           data-method="delete"
                                           data-confirmation="Удалить {{ home.title }}?"
                                           data-redirect="{{ path_for('vsk.homes.get') }}"
                                        >
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <a class="btn btn-primary"
                   href="{{ path_for('vsk.homes.getById', {id: 'new'}) }}"
                >
                    Добавить
                </a>
            </div>
        </div>
    </section>
{% endblock %}
