{% extends "layout.twig" %}

{% set months_name = [
    'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь',
    'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'
] %}

{% set days_name = {
    'Monday': 'Понедельник',
    'Tuesday': 'Вторник',
    'Wednesday': 'Среда',
    'Thursday': 'Четверг',
    'Friday': 'Пятница',
    'Saturday': 'Суббота',
    'Sunday': 'Воскресенье'
} %}

{% block content %}
    <style>
        .t-wrapper {
            width: 100%;
            max-height: 600px;
            overflow: auto;
        }

        .table {
            border-collapse: separate;
            border-spacing: 0;
            width: auto;
        }

        .table .headcol,
        .table .headrow {
            position:sticky;
            background-color: #ffffff;
        }

        .table .headcol {
            left:0;
            z-index: 999;
        }

        .table .headrow {
            top: 0;
            z-index: 100;
        }

        .table thead th,
        .table tbody td {
            min-width: 110px;
            width: 110px;
            height: 75px;
        }

        .table thead th:first-of-type,
        .table tbody td:first-of-type {
            max-width: 200px;
            min-width: 200px;
            width: 200px;
        }

        .table th,
        .table td {
            vertical-align: middle!important;
            text-align: center;
        }

        .table th.cell-weekend {
            color: red;
        }

        .table tbody td.cell-price > div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .table tbody td.cell-price:hover {
            background-color: antiquewhite;
        }

        .table tbody td.cell-price.no-price {
            background-color: #6c757d;
            color: #ffffff;
            cursor: not-allowed;
        }

        .table tbody td.cell-price a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        .table tbody td.cell-price p {
            margin: 0;
        }

        .row-months {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            overflow-x: auto;
            margin: 0 25px 25px;
        }

        .row-months > a {
            padding: 25px 0;
            width: 200px;
            min-width: 200px;
            text-align: center;
            font-weight: bold;
            font-size: 21px;
        }

        td.reserved {
            background-color: #ea6c6c;
        }
    </style>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="pages-title">
                    <h1>{{ months_name[month|date('m') - 1] ~ month|date(' Y') }}</h1>
                    <hr>
                </div>

                <div class="box">
                    <div class="box-body">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        {% for i_month in 6..8 %}
                                            {% set date = date('now'|date('Y') ~ '-' ~ i_month ~ '-01') %}

                                            <li {{ month|date('m') == i_month ? 'class="active"' : null }}>
                                                <a href="{{
                                                    path_for('vsk.orders.getByMonth', {
                                                        month: date|date('F'),
                                                        year: date|date('Y')
                                                    })
                                                }}">
                                                    {{ months_name[date|date('m') - 1] ~ date|date(' Y') }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </nav>

                        <div class="t-wrapper">
                            <table class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th class="headcol">Список домов</th>

                                    {% for week in price_list %}
                                        {% for day in 0..6 %}
                                            {% set d = week.from|date_modify('+' ~ day ~ ' day') %}

                                            {% if d|date('m') == month|date('m') %}
                                                <th class="headrow
                                                        {% if d|date('l') in ['Friday', 'Saturday'] %}
                                                            cell-weekend
                                                        {% endif %}
                                                    "
                                                >
                                                    {{ days_name[d|date('l')] }}
                                                    {{ d|date('d.m.Y') }}
                                                </th>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for home in homes %}
                                    <tr>
                                        <td class="headcol">{{ home.title }}</td>

                                        {% for week in price_list %}
                                            {% set wh = week.homes.find(home.id) %}

                                            {% for day in 0..6 %}
                                                {% set d = week.from|date_modify('+' ~ day ~ ' day') %}
                                                {% set order = getOrderByDate(home, d|date('Y-m-d')) %}
                                                {% set isWeekend = d|date('l') in ['Friday', 'Saturday'] %}
                                                {% set price = isWeekend ?
                                                    wh.pivot.weekend_price :
                                                    wh.pivot.weekdays_price
                                                %}
                                                {% set isWholesale = wh.pivot.wholesale and d|date('l') == 'Friday' %}

                                                {% if d|date('m') == month|date('m') %}
                                                    {% if wh.pivot.wholesale and d|date('l') == 'Saturday' %}
                                                        {# continue #}
                                                    {% else %}
                                                        <td class="cell-price
                                                            {{ price ? order ? 'reserved' : null : 'no-price' }}"
                                                            {% if isWholesale %}colspan="2"{% endif %}
                                                        >
                                                            <div
                                                                {% if order %}
                                                                    data-toggle="tooltip"
                                                                    title="{{ order.name }} +{{ order.phone }}"
                                                                {% endif %}
                                                            >
                                                                {% if price %}
                                                                    <a href="{{
                                                                    path_for('vsk.orders.getById', {id: order.id ?: 'new'}) ~
                                                                    (order ? null : '?home=' ~ home.id ~ '&date=' ~ d|date('Y-m-d'))
                                                                    }}">
                                                                        {{ price }} ₽

                                                                        {% if isWholesale %}
                                                                            <p class="text-success">Оптом</p>
                                                                        {% endif %}

                                                                        {% if order %}
                                                                            <p>Забронировано</p>
                                                                        {% endif %}
                                                                    </a>
                                                                {% else %}
                                                                    Нет цены
                                                                {% endif %}
                                                            </div>

                                                        </td>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
{% endblock %}
