{% extends "layout.twig" %}

{% block content %}
    <style>
        table td {
            vertical-align: middle!important;
        }

        table td a.btn {
            color: #ffffff!important;
            width: 38px;
            height: 38px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    </style>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="pages-title">
                    <div class="row">
                        <div class="col-xs-12 col-md-8">
                            <h1>Заказы</h1>
                        </div>
                    </div>
                    <hr>
                </div>

                <div class="box">
                    <div class="box-body">
                        <table id="example2" class="table table-hover">
                            <thead>
                            <tr>
                                <th>№ заказа</th>
                                <th>Дом</th>
                                <th>Цена</th>
                                <th>Дата заезда</th>
                                <th>Дата выезда</th>
                                <th>Статус</th>
                                <th>Дата создания</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>{{ '00000' ~ order.id|slice(-6) }}</td>
                                    <td>{{ order.home.title }}</td>
                                    <td>{{ order.amount }}₽</td>
                                    <td>{{ order.dates|first.date|date('d.m.Y') }}</td>
                                    <td>{{ order.dates|last.date|date_modify("+1 day")|date('d.m.Y') }}</td>
                                    <td>
                                        <span class="label label-{{ status[order.status] }}">
                                            {{ order.status_text }}
                                        </span>
                                    </td>

                                    <td>
                                        {{ order.created_at|date('d.m.Y H:i') }}
                                    </td>

                                    <td>
                                        <a class="btn btn-primary"
                                           title="Редактировать"
                                           href="{{ path_for('vsk.orders.getById', {id: order.id}) }}"
                                        >
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <a class="btn btn-primary"
                   href="{{ path_for('vsk.orders.getById', {id: 'new'}) }}"
                >
                    Добавить
                </a>
            </div>
        </div>
    </section>
{% endblock %}
