{% extends "layout.twig" %}

{% block content %}
    <style>
        .form-control[readonly] {
            background-color: #ffffff;
        }
    </style>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="pages-title">
                    <h1>{{ order.id ? 'Заказ №: ' ~ order.id : 'Добавить заказ' }}</h1>
                    <hr>
                </div>

                <div class="box box-primary">
                    <form id="home-form"
                          method="POST"
                          action="{{ path_for('vsk.orders.set', {id: order.id}) }}"
                          role="form"
                    >
                        {% if token %}
                        <input type="hidden" name="token" value="{{ token }}">
                        {% endif %}

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form">

                                    {% for e in flash_messages.error %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <strong>Внимание:</strong> {{ e }}
                                        </div>
                                    {% endfor %}

                                    {% for s in flash_messages.success %}
                                        <div class="alert alert-success alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            {{ s }}
                                        </div>
                                    {% endfor %}

                                    <div class="field">
                                        <label for="order.home">Домик</label>
                                        <select id="order.home" name="home_id" class="form-control" required>
                                            <option value="" selected disabled>Выберите домик</option>

                                            {% for home in homes %}
                                                <option value="{{ home.id }}"
                                                        {% if order.vsk_home_id == home.id %}selected{% endif %}
                                                >
                                                    {{ home.title }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="field">
                                        <label for="order.from">Дата заезда</label>
                                        <input id="order.from"
                                               type="date"
                                               name="from"
                                               value="{{ order.id ? order.dates|first.date : order.from }}"
                                               class="form-control flatpickr"
                                               required="required"
                                        >
                                    </div>

                                    <div class="field">
                                        <label for="order.to">Дата выезда</label>
                                        <input id="order.to"
                                               type="date"
                                               name="to"
                                               value="{{ order.id ? order.dates|last.date|date_modify("+1 day")|date('Y-m-d') : order.to }}"
                                               class="form-control flatpickr"
                                               required="required"
                                        >
                                    </div>

                                    <div class="field">
                                        <label for="order.status">Статус</label>
                                        <select id="order.status" name="status" class="form-control" required>
                                            <option value="payed_card" {% if order.status == 'payed_card' %}selected{% endif %}>
                                                Оплачено картой
                                            </option>

                                            <option value="payed_money" {% if order.status == 'payed_money' %}selected{% endif %}>
                                                Оплачено наличкой
                                            </option>

                                            <option value="manual_order" {% if order.status == 'manual_order' %}selected{% endif %}>
                                                Забронировано без оплаты
                                            </option>

                                        </select>
                                    </div>

                                    <div class="field">
                                        <label for="order.name">Имя клиента</label>
                                        <input id="order.name"
                                               type="text"
                                               name="name"
                                               class="form-control"
                                               value="{{ order.name }}"
                                               required="required"
                                        >
                                    </div>

                                    <div class="field">
                                        <label for="order.phone">Номер телефона</label>
                                        <input id="order.phone"
                                               type="tel"
                                               name="phone"
                                               class="form-control"
                                               value="{{ order.phone }}"
                                               required="required"
                                        >
                                    </div>

                                    <div class="field">
                                        <label for="order.note">Примечание</label>
                                        <textarea id="order.note" name="note" cols="30" rows="10">{{ order.note }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-save btn-primary">
                                    Сохранить
                                </button>
                                {% if order.id %}
                                    <a href="{{ path_for('vsk.orders.delete', {id: order.id}) }}" class="btn btn-danger">
                                        Удалить заказ
                                    </a>
                                {% endif %}
                                {% if order.sberbank_id %}
                                    <a href="https://3dsec.sberbank.ru/mportal3/admin/orders/{{ order.sberbank_id }}"
                                       class="btn btn-success"
                                       target="_blank"
                                    >
                                        В Сбербанк
                                    </a>
                                {% endif %}
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <script src="/assets/libs/jquery.maskedinput/jquery.maskedinput.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>

    <script>
        $(function () {
            $('#order\\.phone').mask('+7(999)999-99-99');

            flatpickr('.flatpickr', {
                altInput: true,
                altFormat: 'j F Y',
                locale: 'ru',
                minDate: {% if order.id %} '{{ '2020-06-01' }}' {% else %} '{{ "today"|date('Y-m-d') }}' {% endif %},
                maxDate: '2020-08-31',
            });
        });
    </script>
{% endblock %}
