{% extends "layout.twig" %}

{% block content %}
    <style>
        .t-wrapper {
            width: 100%;
            overflow-x: auto;
        }

        #vsk-table {
            border-collapse: separate;
            border-spacing: 0;
            width: auto;
        }

        #vsk-table .headcol {
            position:sticky;
            left:0;
            z-index: 999;
            background-color: #ffffff;
        }

        #vsk-table thead tr th:first-of-type,
        #vsk-table tbody tr td.cell-house {
            max-width: 160px;
            min-width: 160px;
            width: 160px;
        }

        #vsk-table thead tr:first-of-type th input.input {
            cursor: pointer;
        }

        #vsk-table thead tr:last-of-type th {
            text-align: center;
        }

        #vsk-table tbody tr:nth-child(2n - 1) td {
            background-color: #e5e5e5;
        }

        #vsk-table tbody tr td.cell-price {
            width: 80px;
            min-width: 80px;
        }

        #vsk-table tbody tr td.cell-price input {
            text-align: center;
            padding: 0;
        }

        #vsk-table tbody tr td.cell-checkbox {
            width: 50px;
            min-width: 50px;
            text-align: center;
            vertical-align: middle;
        }

        #vsk-table tbody tr td.cell-checkbox input[type="checkbox"] {
            width: 20px;
            height: 20px;
            margin: 0 auto;
        }

        #vsk-table thead tr th.add-container {
            vertical-align: top;
        }

        .form-control[readonly] {
            background-color: #ffffff;
        }
    </style>

    <section id="app" class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="pages-title">
                    <h1>Расписание</h1>
                    <hr>
                </div>

                <div class="box box-primary">
                    {% if reservation.value == 'disabled' %}
                    <div class="col-xs-12 col-md-6">
                        <div class="alert alert-danger" role="alert">
                            Бронирование отключено
                        </div>
                    </div>
                    {% endif %}

                    <div id="success" class="col-xs-12 col-md-6" style="display: none">
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                            Таблица сохранена
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4">
                        <button class="btn btn-primary" @click="sendPriceList">
                            Сохранить
                        </button>

                        {% if reservation.value == 'disabled' %}
                            <button class="btn btn-success" onclick="enableReservation()">
                                Включить бронирование
                            </button>
                        {% else %}
                            <button class="btn btn-danger" onclick="disableReservation()">
                                Отключить бронирование
                            </button>
                        {% endif %}
                    </div>

                    <div class="col-xs-12 col-md-8 text-right">
                        <form action="{{ path_for('vsk.homes.setPercentage') }}" method="post">
                            <div class="text-right">
                                <div style="display: flex; justify-content: flex-end; align-items: center">
                                    <label for="">Процент бронирования</label>
                                    <input type="number"
                                           name="percentage"
                                           class="form-control"
                                           required="required"
                                           min="0"
                                           max="100"
                                           style="width: 100px; margin-right: 15px; margin-left: 15px"
                                           value="{{ percentage.value }}"
                                    >
                                    <button class="btn btn-primary">Сохранить</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="t-wrapper">
                        <table id="vsk-table" class="table">
                            <thead>
                            <tr>
                                <th class="headcol"></th>
                                <th v-for="week in priceList" colspan="3">
                                    <flat-pickr v-model="week.from"
                                                :config="config"
                                                placeholder="Выберите неделю"
                                                :data-id="week.id"
                                    />
                                </th>
{#                                <th rowspan="2" class="add-container">#}
{#                                    <button class="btn btn-primary" @click="addColumn()">#}
{#                                        Добавить#}
{#                                    </button>#}
{#                                </th>#}
                            </tr>
                            <tr>
                                <th class="headcol">Список домов</th>
                                <template v-for="week in priceList">
                                    <th>Буд</th>
                                    <th>Выход</th>
                                    <th>Опт</th>
                                </template>
                            </tr>
                            </thead>

                            <tbody>
                            <tr v-for="home in homes">
                                <td class="cell-house headcol">
                                    <span class="form-control">${ home.title }</span>
                                </td>

                                <template v-for="week in priceList">
                                    <td class="cell-price">
                                        <input type="text"
                                               class="form-control"
                                               v-model.number="getPrices(week.homes, home.id).weekdays_price">
                                    </td>
                                    <td class="cell-price">
                                        <input type="text"
                                               class="form-control"
                                               v-model.number="getPrices(week.homes, home.id).weekend_price">
                                    </td>
                                    <td class="cell-checkbox">
                                        <input type="checkbox"
                                               class="form-control"
                                               v-model="getPrices(week.homes, home.id).wholesale"
                                        >
                                    </td>
                                </template>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-flatpickr-component@8"></script>
    <script src="https://unpkg.com/flatpickr@4.6.3/dist/plugins/weekSelect/weekSelect.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>

    <script>
        $(function () {
            $('#success button.close').click(e => {
                $('#success').hide();
            });
        });

        {% if reservation.value == 'disabled' %}
            function enableReservation() {
                fetch('{{ path_for('vsk.settings.enableReservation') }}', {
                    method: 'POST'
                }).then(() => window.location.reload());
            }
        {% else %}
            function disableReservation() {
                fetch('{{ path_for('vsk.settings.disableReservation') }}', {
                    method: 'POST'
                }).then(() => window.location.reload());
            }
        {% endif %}
    </script>

    <script>
        Vue.component('flat-pickr', VueFlatpickr);

        function ucFirst(str) {
            return str[0].toUpperCase() + str.slice(1);
        }

        function setDate(self) {
            if (self.weekStartDay) {
                let weekStart = self.weekStartDay.getDate();
                let weekEnd = self.weekEndDay.getDate();
                let monthStart = null;
                let monthEnd = self.weekEndDay.toLocaleString('ru-ru', { month: "long" });
                    monthEnd = ucFirst(monthEnd);

                if (weekEnd < weekStart) {
                    monthStart = self.weekStartDay.toLocaleString('ru-ru', { month: "long" });
                    monthStart = ' ' + ucFirst(monthStart);
                }

                self.element.nextElementSibling.value = weekStart + monthStart + ' - ' + weekEnd + ' ' + monthEnd;
                self.element.value = self.formatDate(self.weekStartDay, 'Y-m-d');
            }
        }

        let vsk = new Vue({
            delimiters: ['${', '}'],
            el: '#app',
            data: {
                homes: {{ homes|raw }},
                priceList: {{ price_list|raw }},
                config: {
                    locale: "ru",
                    plugins: [new weekSelect({})],
                    altInput: true,
                    onChange: function() {
                        setDate(this);
                    },
                    onReady: function () {
                        setDate(this);
                    },
                    onOpen: function () {
                        this.close();
                    }
                }
            },
            created() {
                this.priceList = this.priceList.map(week => {
                    this.homes.map(home => {
                        let _home = week.homes.find(h => h.id === home.id);

                        if (_home === undefined) {
                            home.pivot = {
                                weekdays_price: 0,
                                weekend_price: 0,
                                wholesale: 0
                            };

                            week.homes.push({...home});
                        }
                    });

                    return week;
                });
            },
            methods: {
                getPrices: function (homes, home_id) {
                    for (let i = 0; i < homes.length; i++) {
                        if (homes[i].id === home_id) {
                            return homes[i].pivot;
                        }
                    }

                    return {};
                },

                addColumn: function () {
                    let homes = [];

                    for (let i = 0; i < this.homes.length; i++) {
                        homes.push({
                            ...this.homes[i],
                            pivot: {
                                weekdays_price: 0,
                                weekend_price: 0,
                                wholesale: 0
                            }
                        });
                    }

                    this.priceList.push({
                        from: null,
                        homes: homes
                    });
                },

                sendPriceList: function() {
                    fetch("{{ path_for('vsk.price.set') }}", {
                        method: 'POST',
                        body: JSON.stringify(this.priceList),
                        headers: {
                            'Content-Type': 'application/json;charset=utf-8'
                        }
                    })
                        .then(() => $('#success').show())
                        .catch(error => console.log(error));
                }
            }
        });
    </script>
{% endblock %}
