{% extends "layout.twig" %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="pages-title">
                    <h1>{{ service.title ?: 'Добавить услугу' }}</h1>
                    <hr>
                </div>

                <div class="box box-primary">
                    <form id="service-form"
                          method="POST"
                          action="{{ path_for('vsk.services.set', {id: service.id}) }}"
                          role="form"
                          enctype="multipart/form-data"
                          class="dropzone"
                    >
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form">
                                    <div class="field">
                                        <label>Название</label>
                                        <input type="text"
                                               name="title"
                                               class="form-control"
                                               value="{{ service.title }}"
                                               required="required"
                                        >
                                    </div>

                                    <div class="field">
                                        <label for="service.short_description">Краткое описание (не более 400 символов)</label>
                                        <textarea id="service.short_description"
                                                  name="short_description"
                                                  maxlength="400"
                                                  required
                                                  cols="30"
                                                  rows="10">{{ service.short_description }}</textarea>
                                    </div>

                                    <div class="field">
                                        <label for="editor1">Полное описание</label>
                                        <textarea id="editor1" name="description" cols="30" rows="10">
                                            {{ service.description }}
                                        </textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form">
                                    <div class="field">
                                        <label>Фото</label>
                                        {{ block('content', 'shared/uploader.twig') }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-save btn-primary">
                                    Сохранить
                                </button>

                                {% if service.id %}
                                    <a href="{{ path_for('vsk.services.delete', {id: service.id}) }}"
                                       class="btn btn-danger async"
                                       data-method="delete"
                                       data-confirmation="Удалить услугу?"
                                       data-redirect="{{ path_for('vsk.services.get') }}"
                                    >
                                        Удалить
                                    </a>
                                {% endif %}
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block style %}
    {{ block('style', 'shared/uploader.twig') }}
{% endblock %}

{% block script %}
    {% with {name: 'photos', preview: 'true', files: service.photos} %}
        {{ block('script', 'shared/uploader.twig') }}
    {% endwith %}
{% endblock %}
