{% extends "layout.twig" %}

{% block content %}
    <style>
        table td {
            vertical-align: middle!important;
        }

        table td a.btn {
            color: #ffffff!important;
            width: 38px;
            height: 38px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    </style>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="pages-title">
                    <h1>Услуги</h1>
                    <hr>
                </div>

                <div class="box">
                    <div class="box-body">
                        <table id="example2" class="table table-hover">
                            <thead>
                            <tr>
                                <th>Фото</th>
                                <th>Название</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for service in services %}
                                <tr>
                                    <td width="100" height="75">
                                        {% if service.photos[0] %}
                                            <img src="/imagecache/dz_preview{{ service.photos[0].url }}"
                                                 alt=""
                                                 onerror="this.src =  '/assets/img/no-image.png'"
                                                 style="width: 100%"
                                            >
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path_for('vsk.services.getById', {id: service.id}) }}">
                                            {{ service.title }}
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary"
                                           title="Редактировать"
                                           href="{{ path_for('vsk.services.getById', {id: service.id}) }}"
                                        >
                                            <i class="fa fa-pencil"></i>
                                        </a>

                                        <a href="{{ path_for('vsk.services.delete', {id: service.id}) }}"
                                           class="btn btn-danger async"
                                           title="Удалить"
                                           data-method="delete"
                                           data-confirmation="Удалить услугу?"
                                           data-redirect="{{ path_for('vsk.services.get') }}"
                                        >
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <a class="btn btn-primary"
                   href="{{ path_for('vsk.services.getById', {id: 'new'}) }}"
                >
                    Добавить
                </a>
            </div>
        </div>
    </section>
{% endblock %}
