{% extends "layout/layout.html" %}


{% block content%}
    <div id="content">
        <div class="title"> <h1>//-//-//</h1> </div>
        <ul>
            {% for item in vskhome %}
                <li><a href="/vskhome/{{ item.id }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}