$range-height: 6px
$range-bg: #f1efef
$range-border-color: #939191
$range-thumb-bg: linear-gradient(180deg, #BDBBB2 0%, #FFFFFF 100%)
$range-thumb-border-color: #75757b
$range-font-size: 11px
$range-font-family: 'Montserat'

@mixin rangeThumb
  width: $range-height * 2
  height: $range-height * 2
  margin-top: -$range-height / 2
  border-radius: 50%
  border: solid 1px $range-thumb-border-color
  background: $range-thumb-bg
  cursor: pointer

@mixin rangeTrack
  width: 100%
  height: $range-height
  cursor: pointer
  background: $range-bg
  border: solid 1px $range-border-color
  border-radius: $range-height / 2
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25)
  padding-left: 10px
  padding-right: 10px

.range
  position: relative
  width: 100%
  height: 5px
  margin-top: 25px

.range input
  width: 100%
  position: absolute
  top: 2px
  height: 0
  -webkit-appearance: none

  // Thumb
  &::-webkit-slider-thumb
    -webkit-appearance: none // needed again for Chrome & Safari
    @include rangeThumb

  &::-moz-range-thumb
    @include rangeThumb

  &::-ms-thumb
    @include rangeThumb

  // Track
  &::-webkit-slider-runnable-track
    @include rangeTrack

  &::-moz-range-track
    @include rangeTrack

  &::-ms-track
    @include rangeTrack

  &[data-any-val]::-webkit-slider-runnable-track,
  &[data-any-val]::-moz-range-track,
  &[data-any-val]::-ms-track
    padding-left: 10px
    padding-right: 10px

  &:focus // override outline/background on focus
    background: none
    outline: none

  &::-ms-track // A little somethin' somethin' for IE
    width: 100%
    cursor: pointer
    background: transparent
    border-color: transparent
    color: transparent

// Labels below slider
.range-labels
  +flex()
  width: 100%
  margin-top: -25px
  padding: 0 4px
  list-style: none

  li
    position: relative
    float: left
    width: auto
    text-align: center
    color: $color-label
    font-size: $range-font-size
    font-family: $range-font-family
    font-weight: 500
    cursor: pointer

    /*&::before
      position: absolute
      top: -25px
      right: 0
      left: 0
      content: ""
      margin: 0 auto
      width: 9px
      height: 9px
      background: #b2b2b2
      border-radius: 50%*/

  .active
    color: $color-link

  .selected::before
    background: $red-color

  .active.selected::before
    display: none
