$bg-color: rgba(0, 0, 0, 0.5)

.swiper
  display: none
  position: fixed
  padding: 30px
  background-color: $bg-color
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  z-index: 9999

  @include respond-to(tablet)
    padding: 15px
  @include respond-to(phone)
    padding: 0

  &.show
    +flex()

  .swiper-container
    width: 100%
    height: 100%

    .swiper-button-prev,
    .swiper-button-next,
    .swiper-button-close
      cursor: pointer
      color: #ffffff
      opacity: 0.5
      transition: opacity 0.15s ease 0s
      z-index: 999

      &:hover
        opacity: 1

    .swiper-button-close
      +flex()
      position: fixed
      font-size: 40px
      width: 15%
      height: 55px
      top: 25px
      right: 0

    .swiper-pagination-bullet
      border-color: rgba(0, 0, 0, 0.75)
      background-color: #ffffff
      opacity: 0.5
      width: 10px
      height: 10px

      &.swiper-pagination-bullet-active
        opacity: 1

    .swiper-slide
      +flex($justify: center)

      img
        max-width: calc(100% - 90px)
        max-height: 100%
