{% extends 'layout.html.twig' %}

{% block title %}
    Страница не найдена
{% endblock %}

{% block full_page_content %}
        <div class="col-12">
            <h1 class="text-404">СТРАНИЦА НЕ НАЙДЕНА</h1>
        </div>
{% endblock %}
