{% extends 'layout.html.twig' %}

{% block slider %}
    {% set slides = getSlides() %}

    {% include 'includes/slider.html.twig' with {slides: slides} %}
{% endblock %}

{% block full_page_content %}
    <section id="section-feature">
        <h1 class="text-center">Удобная инфраструктура</h1>

        {% set services = getServices(12) %}

        {% for service in services %}
        <article class="feature {% if loop.index % 2 == 0 %}reverse-row-tablet reverse-row-desktop{% endif %}">
            <div class="col-md-5 col-12 feature-image {{ loop.index % 2 == 0 ? 'img-triangle-left' : 'img-triangle-right' }}"
                 {% if service.photos|length %}
                 style="background-image: url('/imagecache/service_preview{{ service.photos[0].url }}')"
                 {% endif %}
            >
            </div>

            <div class="col-md-7 col-12 feature-content {{ loop.index % 2 != 0 ? 'pl-4' : 'pr-4' }}">
                <h2 class="feature-title">
                    <a href="{{ path_for('vsk.services.showBySlug', {slug: service.slug}) }}" class="a">
                        {{ service.title }}
                    </a>
                </h2>
                <p class="feature-text">
                    {{ service.short_description }}
                </p>
            </div>
        </article>
        {% endfor %}
    </section>

    <section id="section-description">
        <h1 class="text-center">“Вск Беле” - Туристическая база рядом с озеро Беле</h1>
        <p>
            Небольшая уютная территория для отдыха рядом с берегом озера.
            Хорошее место для родителей с детьми, семейных пар, а так же людей уставших от городской суеты и
            техногенных воздействий мегаполисов. Комфортное размещение в новых рубленных домиках из сибирской сосны,
            внимательный персонал, автостоянка.
        </p>
        <p>
            Сочетание сухого степного воздуха создает уникальный целебный климат.
            Минеральный состав воды с повышенным содержанием магниевых солей благоприятно сказываются на оздоровлении.
        </p>
    </section>

    <section id="section-reservation">
        <h1 class="text-center">Календарь бронирования</h1>

        {% include 'includes/reservation-table.html.twig' %}
    </section>

    <section id="section-map">
        <h1 class="text-center">Схема проезда</h1>
<!--         <div style="position:relative;overflow:hidden;">
            <a href="https://yandex.ru/maps?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Яндекс.Карты</a>
            <a href="https://yandex.ru/maps/?from=api-maps&ll=90.254142%2C54.659852&mode=routes&origin=jsapi_2_1_76&rtext=53.717203%2C91.432828~54.669803%2C90.228355&rtt=auto&ruri=~&utm_medium=mapframe&utm_source=maps&z=12.85"
               style="color:#eee;font-size:12px;position:absolute;top:14px;">
                Ширинский район: как доехать на автомобиле, общественным транспортом или пешком – Яндекс.Карты
            </a>
            <iframe src="https://yandex.ru/map-widget/v1/-/CCQh5IhhxD" height="400" frameborder="0" allowfullscreen="true" style="position:relative; width: 100%"></iframe>
        </div> -->

        <div id="map" style="width: 100%; height: 400px"></div>
            <script src="https://api-maps.yandex.ru/2.1/?apikey=6a6a0b73-d706-47ab-b25b-e405cd542ac2&lang=ru_RU" type="text/javascript"></script>
        <script type="text/javascript">
            // Функция ymaps.ready() будет вызвана, когда
            // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
            ymaps.ready(init);
            function init(){ 
                // Создание карты.    
                var myMap = new ymaps.Map("map", {
                    // Координаты центра карты.
                    // Порядок по умолчанию: «широта, долгота».
                    // Чтобы не определять координаты центра карты вручную,
                    // воспользуйтесь инструментом Определение координат.
                    center: [54.659852, 90.254142],
                    // Уровень масштабирования. Допустимые значения:
                    // от 0 (весь мир) до 19.
                    zoom: 7
                });
                var point = new ymaps.Placemark([54.669800, 90.228515], {}, {
                    iconLayout: 'default#image',
                    iconImageHref: 'https://vskbele.ru/assets/img/logo-map.png',
                    iconImageSize: [70, 60],
                    iconImageOffset: [-35, -60]
                });
                myMap.geoObjects.add(point);
            }
        </script>
    </section>

    {{ block('content', 'includes/modal.html.twig') }}
{% endblock %}

{% block script %}
    {{ block('script', 'includes/modal.html.twig') }}
{% endblock %}
