{% from 'macro/icon.html.twig' import icon %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="yandex-verification" content="b10b1cea102902c5" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <!-- Favicon Icon -->
        <link rel="shortcut icon" href="/assets/img/fav.png" type="image/png"/>
        <link rel="icon" href="/assets/img/fav.png" type="image/png"/>

    <title>{% block title %}ВСК Беле{% endblock %}</title>

    {% include "includes/styles.html.twig" %}

    {% block style %}{% endblock %}
</head>
<body>
{{ adminMenu() }}

<div class="container">
    <header class="row">
        {# Mobile menu button #}
        <div class="col-3 d-lg-none pl-0">
            <button id="mobile-menu-button" class="btn btn-mobile-header">
                {{ icon('list') }}
            </button>
        </div>

        {# LOGO #}
        <div class="col-lg-3 d-none d-lg-block p-0">
            <a href="/">
                <img src="/themes/vsk/img/logo.png" alt="ВСК Беле" id="logo">
            </a>
        </div>

        {# Mobile logo #}
        <div class="col-6 d-lg-none text-center">
            <a href="/">
                <img src="/themes/vsk/img/logo.png" alt="ВСК Беле" id="logo-mobile">
            </a>
        </div>

        {# Mobile offset #}
        <div class="col-3 d-lg-none"></div>

        {# Main menu #}
        {% set menu = getMenu('main-menu') %}
        <div class="col-6 d-none d-lg-block">
            <nav id="main-navigation">
                <ul class="nav">
                    {% for item in menu[-1] %}
                    <li class="nav-item">
                        <a href="/{{ item.link }}" class="nav-link a">
                            {{ item.title }}
                        </a>
                    </li>
                    {% endfor %}

                    <li class="nav-item d-flex">
                        <a href="https://instagram.com/vskbele?igshid=1kqhiuzwwztqh" target="_blank" class="nav-link" title="Мы в Instagram">
                            <img src="/themes/vsk/img/instagram.svg" alt="Instagram">
                        </a>

                        <a href="https://vk.com/recreation_center_vsk" target="_blank" class="nav-link" title="Наша группа ВКонтакте">
                            <img src="/themes/vsk/img/vk.svg" alt="ВКонтакте">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-3 d-none d-lg-block header-last-block">
            <a href="tel:+79233580808" class="header-phone a">+7 (923) 358-08-08 (Мегафон)</a>
            <a href="tel:+79503020808" class="header-phone a">+7 (950) 302-08-08 (Теле2)</a>
            <a href="{{ path_for('vsk.reservation.show') }}" class="header-reserve a a-alt">Бронирование</a>
        </div>

        <div class="col-12 d-none d-lg-block hr"></div>

        {% include 'includes/mobile-menu.html.twig' %}
    </header>

    <section id="slider">
        {% block slider %}{% endblock %}
    </section>

    <main class="row">
        {% if block('page_title') %}
        <section class="col-12 mb-0 p-0">
            <h1 class="page-title">
                {% block page_title %}{% endblock %}
            </h1>

            {% if is_admin and block('edit') %}
                <a href="{% block edit %}{% endblock %}">
                    Редактировать
                </a>
            {% endif %}
        </section>
        {% endif %}

        {% block full_page_content %}{% endblock %}

        {% if block('content') or block('sidebar') %}
        <div class="col-12 content-block">
            <div class="row reverse-col-tablet">
                <section class="col-12 col-lg-9">
                    {% block content %}{% endblock %}
                </section>

                {% if block('sidebar') %}
                <section class="col-12 col-lg-3 aside-wrapper">
                    {% block sidebar %}{% endblock %}
                </section>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </main>

    <footer class="row">
        <div class="col-md-6 col-12 footer-contacts">
            <h5>Контакты</h5>

            <ul>
                <li>г. Абакан, ул. Советская, д. 209</li>
                <li>Email: info@vskbele.ru</li>
                <li>+7 (923) 358-08-08 (Мегафон)</li>
                <li>+7 (950) 302-08-08 (Теле2)</li>
            </ul>
        </div>
        <div class="col-md-6 col-12">
            <div class="social-wrapper">
{#                <a class="social" href="#">#}
{#                    <img src="/themes/vsk/img/instagram_white.svg" alt="Inst">#}
{#                </a>#}

                <a class="social" href="https://vk.com/recreation_center_vsk" target="_blank">
                    <img src="/themes/vsk/img/vk_white.svg" alt="ВК">
                </a>
            </div>

            <div id="copyright">
                <span>Разработка сайта</span>
                <a href="http://wtolk.ru" target="_blank">
                    <img src="/themes/vsk/img/webtolk.png" alt="Вебтолк">
                </a>
            </div>
        </div>
    </footer>
</div>

{% include "includes/scripts.html.twig" %}

{% block script %}{% endblock %}

<script>
    /*$(function() {
        let table = $('.table-calendar');
        let table_top = table.offset().top;
        let table_height = table.height();
        let thead = table.find('thead');
        let header = $('header');

        $(window).on('scroll', e => {
            let top = table_top - $(window).scrollTop();
            let bottom = top + table_height;

            if (top <= header.height() && bottom > (header.height() + 50)) {
                if (!table.hasClass('fixed')) {
                    table.addClass('fixed')
                         .css({
                             'margin-top': thead.height(),
                             'top': header.height()
                         })
                }
            } else {
                if (table.hasClass('fixed')) {
                    table.removeClass('fixed')
                         .css({'margin-top': 0})
                }
            }
        })
    })*/
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(65492245, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/65492245" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<style type="text/css">
    .content-block img {
        max-width: 100%;
    }
</style>
</body>
</html>
