{% extends 'layout.html.twig' %}

{% block title %}
    Информация о заказе
{% endblock %}

{% block page_title %}
    Информация о заказе
{% endblock %}

{% block content %}
    <h2>Не удалось оформить заказ</h2>
    <p>Повторите попытку позже</p>
{% endblock %}

{% block sidebar %}
    {% from 'macro/side-menu.html.twig' import side_menu %}
    {{ side_menu() }}
{% endblock %}
