{% extends 'layout.html.twig' %}

{% block title %}
    Информация о заказе
{% endblock %}

{% block page_title %}
    Информация о заказе
{% endblock %}

{% block content %}
    <h2>Ваш заказ успешно оформлен</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan="2">Информация о заказе:</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>Номер заказа:</td>
            <td>№{{ '000000' ~ order.id|slice(-6) }}</td>
        </tr>
        <tr>
            <td>Дом:</td>
            <td>
                <a href="{{ path_for('vsk.homes.showBySlug', {slug: order.home.id}) }}" target="_blank">
                    {{ order.home.title }}
                </a>
            </td>
        </tr>
        <tr>
            <td>Оплаченная сумма:</td>
            <td>{{ order.amount }} руб.</td>
        </tr>
        <tr>
            <td>Дата заезда:</td>
            <td>{{ order.dates|first.date|date('d.m.Y') }}</td>
        </tr>
        <tr>
            <td>Дата выезда:</td>
            <td>{{ order.dates|last.date|date_modify("+1 day")|date('d.m.Y') }}</td>
        </tr>
        <tr>
            <td>Дата оформления заказа:</td>
            <td>{{ order.created_at|date('d.m.Y H:i') }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    {% from 'macro/side-menu.html.twig' import side_menu %}
    {{ side_menu() }}
{% endblock %}
