{% extends 'layout.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block page_title %}{{ page.title }}{% endblock %}

{% block edit %}
    {{ '/admin/content/' ~ page.id }}
{% endblock %}

{% block slider %}
    {% from 'macro/carousel.html.twig' import carousel %}
    {{ carousel() }}
{% endblock %}

{% block content %}
    {{ page.content|raw }}

    <a href="{{ path_for('vsk.reservation.show') }}" class="button">Бронировать домик</a>
{% endblock %}
