<div>
    <p>
        Это письмо с чеком. Вы получили его, потому что указали почту при покупке в интернете или попросили кассира
        отправить электронный чек. Если вы этого не делали — ничего страшного, проигнорируйте письмо.
        Вопросы про покупку задавайте продавцу — его реквизиты в чеке.
        А на это письмо не отвечайте — оно автоматическое.
    </p>

    <h4>
        <a href="http://vskbele.ru/">Беле ВСК</a>
    </h4>

    <p>
        Кассовый чек №{{ '000000' ~ order.id|slice(-6) }}.
    </p>

    <p>
        № Авт. KSR13.11-12-3. Смена 237
    </p>

    <p>
        Приход {{ order.created_at|date('d.m.Y H:i:s') }}
    </p>

    <table border="1" cellspacing="0">
        <thead>
        <tr>
            <th>Предмет расчета</th>
            <th>Цена за ед., ₽</th>
            <th>Кол-во</th>
            <th>Сумма, ₽</th>
        </tr>
        </thead>

        <tfoot>
        <tr>
            <th colspan="4">ИТОГО: {{ order.amount }}₽</th>
        </tr>
        </tfoot>

        <tbody align="left">
        <tr>
            <td>
                Бронирование {{ order.home.title }}
                на период с {{ order.dates|first.date|date('d.m.Y') }}
                по {{ order.dates|last.date|date_modify("+1 day")|date('d.m.Y') }}
            </td>
            <td align="center">{{ order.amount }}</td>
            <td align="center">1</td>
            <td align="center">{{ order.amount }}</td>
        </tr>

        </tbody>
    </table>
</div>
