{% extends 'layout.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block page_title %}{{ page.title }}{% endblock %}

{% block edit %}
    {{ '/admin/content/' ~ page.id }}
{% endblock %}

{% block content %}
    {{ page.content|raw }}

    {% include 'includes/reservation-table.html.twig' %}

    {{ block('content', 'includes/modal.html.twig') }}
{% endblock %}

{% block sidebar %}
    {% from 'macro/side-menu.html.twig' import side_menu %}
    {{ side_menu() }}
{% endblock %}

{% block script %}
    {{ block('script', 'includes/modal.html.twig') }}
{% endblock %}
