{% extends 'layout.html.twig' %}

{% block title %}Услуги{% endblock %}

{% block page_title %}Услуги{% endblock %}

{% block style %}
    <style>
        /*.img-triangle-left:before,*/
        /*.img-triangle-right:before {*/
        /*    background-color: white;*/
        /*}*/
    </style>

{% endblock %}

{% block content %}
    {% for service in services %}
        <article class="feature {% if loop.index % 2 == 0 %}reverse-row-tablet reverse-row-desktop{% endif %}">
            <div class="col-lg-5 col-md-12 feature-image"
                    {% if service.photos|length %}
                        style="background-image: url('/imagecache/service_preview{{ service.photos[0].url }}')"
                    {% endif %}
            >
            </div>

            <div class="col-lg-7 col-md-12 feature-content {{ loop.index % 2 != 0 ? 'pl-4' : 'pr-4' }}">
                <h2 class="feature-title">
                    <a href="{{ path_for('vsk.services.showBySlug', {slug: service.slug}) }}" class="a">
                        {{ service.title }}
                    </a>
                </h2>
                <p class="feature-text">
                    {{ service.short_description }}
                </p>
            </div>
        </article>
    {% endfor %}

    {% from 'macro/pagination.html.twig' import pagination %}
    {{ pagination(servicess) }}
{% endblock %}

{% block sidebar %}
    {% from 'macro/side-menu.html.twig' import side_menu %}
    {{ side_menu() }}
{% endblock %}
