{% extends 'layout.html.twig' %}

{% block title %}{{ service.title }}{% endblock %}

{% block page_title %}{{ service.title }}{% endblock %}

{% block edit %}
    {{ path_for('vsk.services.getById', {'id': service.id}) }}
{% endblock %}

{% block slider %}
    {% from 'macro/carousel.html.twig' import carousel %}

    {{ carousel(service) }}
{% endblock %}

{% block content %}
    {{ service.description|raw }}

    <a href="{{ path_for('vsk.reservation.show') }}" class="button">Бронировать домик</a>
{% endblock %}

{% block sidebar %}
    {% from 'macro/side-menu.html.twig' import side_menu %}
    {{ side_menu() }}
{% endblock %}
