{% extends 'layout.html.twig' %}

{% set disabled = isDisabled() %}

{% block title %}{{ home.title }}{% endblock %}

{% block page_title %}{{ home.title }}{% endblock %}

{% block edit %}
    {{ path_for('vsk.homes.getById', {id: home.id}) }}
{% endblock %}

{% block content %}
    <div class="row gallery picture">
        {% for photo in home.photos %}
            <div class="col-6 col-sm-4 col-lg-3">
                <div class="gallery-item" data-index="{{ loop.index0 }}">
                    <a href="/imagecache/swiper{{ photo.url }}" itemprop="contentUrl" data-size="1000x667" data-index="{{ loop.index0 }}">
                        <img src="/imagecache/home_preview{{ photo.url }}" data-image-index="{{ loop.index0 }}" alt="{{ photo.name }}">
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>

    <div class="row">
        <div class="col-12">
            <h5>Описание домика</h5>

            <div class="home-description">
                {{ home.description|raw }}
            </div>
        </div>
    </div>

    <aside class="aside aside-rounded pt-4 pb-4">
        <div class="col-sm-12 col-md-5 mb-3">
            <h5 class="text-muted">Стоимость домика от {{ getHomeMinPrice(home) }} руб.</h5>
            <h6>Бронирование {{ home.percentage }}% от цены</h6>

            <a href="/polzovatelskoe-soglashenie" class="a font-weight-regular font-size-small">
                Пользовательское соглашение бронирования домиков
            </a>
        </div>

        <div class="col-sm-12 col-md-6 offset-md-1 text-center">
            <div class="text-left mb-3 home-date-selector">
                <label class="label" for="">Дата заезда</label>
                <input id="home-get-price" type="date" class="input date-picker">
            </div>

            <div>
                <label id="home-price" class="label mb-4" style="display: block">
                    Точная стоимость:
                    <span>выберите дату</span>
                </label>

                <label id="home-reserved" class="label text-red mb-4" style="display: none">
                    Домик уже забронирован
                </label>
            </div>

            {% if disabled %}
                <h5 class="text-red">В данный момент бронирование не доступно</h5>
            {% else %}
                <button class="button button-small"
                        data-toggle="modal"
                        data-target="#modal-reservation"
                        data-home-id="{{ home.id }}">
                    Бронировать
                </button>
            {% endif %}
        </div>
    </aside>

{#    {% from 'macro/swiper.html.twig' import swiper %}#}
{#    {{ swiper(home.photos) }}#}

    {{ block('content', 'includes/modal.html.twig') }}
    {% include 'includes/photo-swipe.html.twig' with {images: home.photos} %}
{% endblock %}

{% block style %}
{#    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">#}
{#    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">#}
{% endblock %}

{% block script %}
    {{ block('script', 'includes/modal.html.twig') }}

    <script>
        $(function () {
            fpickr.config.enable = [{
                from: '{{ 'now'|date_modify("+1 day")|date('Y-m-d') }}',
                to: '2020-08-31'
            }];
            fpickr.redraw();

            modal.home.id = '{{ home.id }}';
            modal.onFetchPrice = priceList => {
                let el = $('#home-price');
                let price = el.children('span');
                let reserved = $('#home-reserved');

                el.show();
                reserved.hide();

                if (priceList.reserved) {
                    el.hide();
                    reserved.show();
                }

                if (priceList.price) {
                    price.html(priceList.price + ' руб/сутки');
                }

                fpickr.setDate(modal.from);
            };

            $('#home-get-price').change(function (e) {
                modal.from = $(e.currentTarget).val();
                modal.to = $(e.currentTarget).val();
            });
        });

(function($) {
    var $pswp = $('.pswp')[0];
    var image = [];

    $('.picture').each( function() {
        var $pic     = $(this),
            getItems = function() {
                var items = [];
                $pic.find('a').each(function() {
                    var $href   = $(this).attr('href'),
                        $size   = $(this).data('size').split('x'),
                        $width  = $size[0],
                        $height = $size[1];

                    var item = {
                        src : $href,
                        w   : $width,
                        h   : $height
                    }

                    items.push(item);
                });
                return items;
            }

        var items = getItems();

        $.each(items, function(index, value) {
            image[index]     = new Image();
            image[index].src = value['src'];
        });

        $pic.on('click', '.gallery-item', function(event) {
            event.preventDefault();
            
            var $index = $(this).data('index');
            console.log($index);
            console.log($(this));
            var options = {
                index: $index,
                bgOpacity: 0.7,
                showHideOpacity: true
            }

            var lightBox = new PhotoSwipe($pswp, PhotoSwipeUI_Default, items, options);
            lightBox.init();
        });
    });
})(jQuery);


    </script>

{#    <script src="https://unpkg.com/swiper/js/swiper.js"></script>#}
{#    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>#}
{% endblock %}
