{% extends 'layout.html.twig' %}

{% block title %}Номерной фонд{% endblock %}

{% block page_title %}Номерной фонд{% endblock %}

{% block content %}
    {% for home in homes %}
        <article class="aside home">
            <div class="col-12 col-md-4 home-image img-triangle-right"
                 style="background-image: url('/imagecache/home_preview{{ home.photos[0].url }}')"
            >
            </div>

            <div class="col-12 col-md-4 home-pricing">
                <div>
                    <a href="{{ path_for('vsk.homes.showBySlug', {slug: home.id}) }}">
                        {{ home.title }}
                    </a>
                    <br>
                    <span>От {{ getHomeMinPrice(home) }} руб.</span>
                </div>

                <button class="button button-small"
                        data-toggle="modal"
                        data-target="#modal-reservation"
                        data-home-id="{{ home.id }}"
                >
                    Бронировать
                </button>
            </div>

            <div class="col-12 col-md-4 home-options">
                {#{% if home.square %}
                    <span class="d-block">
                    <img class="icon" src="/themes/vsk/img/icons/square.svg">
                    Площадь: {{ home.square }} кв. метров
                </span>
                {% endif %}#}

                {% if home.beds %}
                <span class="d-block">
                    <img class="icon" src="/themes/vsk/img/icons/bed.svg">
                    Спальных мест: {{ home.beds }}
                </span>
                {% endif %}

                {% if home.electric %}
                    <span class="d-block">
                    <img class="icon" src="/themes/vsk/img/icons/electric.svg">
                    Имеется электричество
                </span>
                {% endif %}

                {% if home.shower %}
                    <span class="d-block">
                    <img class="icon" src="/themes/vsk/img/icons/shower.svg">
                    Имеется душ
                </span>
                {% endif %}
            </div>

            {% if home.bestseller %}
            <div class="best-seller">Хит продаж</div>
            {% endif %}
        </article>
    {% endfor %}

    {% from 'macro/pagination.html.twig' import pagination %}
    {{ pagination(homes, params) }}
    {% include 'includes/reservation-table.html.twig' %}
    {{ block('content', 'includes/modal.html.twig') }}
{% endblock %}

{% block sidebar %}
    <aside class="aside">
        <form id="filter" action="{{ path_for('vsk.homes.show') }}">
            <label for="filter.from" class="label">Дата заезда</label>
            <input id="filter.from" class="input date-picker" type="date" name="from" value="{{ params.from }}">

            <label for="filter.to" class="label">Дата выезда</label>
            <input id="filter.to" class="input date-picker" type="date" name="to" value="{{ params.to }}">

            {#
            <label for="filter.beds" class="label">Количество спальных мест от</label>
            {% from 'macro/range.html.twig' import range %}
            {{ range(1, 9, params.beds, 1, 'beds') }}
            #}
            <label for="" class="label mt-3">Особые пожелания</label>

            <label for="filter.cb1" class="checkbox">
                <input id="filter.cb1"
                       type="checkbox"
                       class="input"
                       name="electric"
                       checked
                >
                <span>Есть электричество</span>
            </label>

            <label for="filter.cb2" class="checkbox">
                <input id="filter.cb2"
                       type="checkbox"
                       class="input"
                       name="shower"
                       checked
                       
                >
                Есть туалет и душ в домике
            </label>

            <button type="submit" class="button button-small">Отфильтровать</button>
        </form>
    </aside>
{% endblock %}

{% block script %}
    {{ block('script', 'includes/modal.html.twig') }}
{% endblock %}
