{% macro carousel(model, key = 'photos', id = 'carousel') %}
    {% if model[key]|length %}

    <div id="{{ id }}" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            {% for image in model[key] %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
                {% if image.title %}
                <h2 class="carousel-item-title">{{ image.title }}</h2>
                {% endif %}
                <img src="/imagecache/slider_image{{ image.url }}" class="d-block">
            </div>
            {% endfor %}
        </div>

        <div class="carousel-grid"></div>

        {% if model.title %}
            <h2 class="carousel-item-title">{{ model.title }}</h2>
        {% endif %}

        {% if model[key]|length > 1 %}
        <a class="carousel-control-prev" href="#{{ id }}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
        </a>
        <a class="carousel-control-next" href="#{{ id }}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
        </a>
        {% endif %}
    </div>
    {% endif %}
{% endmacro %}
