{% macro pagination(paginated, url_params = null) %}
    {% set q = '?' ~ (url_params ? url_params|url_encode ~ '&' : '') %}

    {% if paginated.lastPage > 1 %}
        <nav>
            <ul class="pagination">
                {% if paginated.currentPage != 1 %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ q }}{{ paginated.getPageName() }}={{ paginated.currentPage - 1 }}"
                        >
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for page in 1..paginated.lastPage %}
                    <li class="page-item {% if page == paginated.currentPage %}active{% endif %}">
                        <a class="page-link" href="{{ q }}{{ paginated.getPageName() }}={{ page }}">{{ page }}</a>
                    </li>
                {% endfor %}

                {% if paginated.currentPage != paginated.lastPage %}
                    <li class="page-item">
                        <a class="page-link" href="{{ q }}{{ paginated.getPageName() }}={{ paginated.currentPage + 1 }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endmacro %}
