{% macro range(min, max, value = null, any = false, name = null) %}
    <div class="range">
        <input type="range"
               {% if any %}data-any-val="true"{% endif %}
               min="{{ any ? min-1 : min }}"
               max="{{ max }}"
               step="{{ step }}"
               {% if value is not null %}value="{{ value }}"
               {% elseif any %}value="{{ min - 1 }}"{%  endif %}
               {% if name %}name="{{ name }}"{% endif %}
        >
    </div>

    <ul class="range-labels" {% if any %}style="padding-right: 15px"{% endif %}>
        {% if any %}
        <li {% if not value %}class="active selected"{% endif %}>
            Все
        </li>
        {% endif %}

        {% for label in min..max %}
        <li {% if value == label %}class="active selected"{% endif %}>
            {{ label }}
        </li>
        {% endfor %}
    </ul>
{% endmacro %}
