{% macro side_menu(name = 'main-menu') %}
    {% set menu = getMenu(name) %}

    <aside class="aside">
        <nav class="aside-navigator">
            <ul class="nav">
                <li class="nav-item">
                    <a href="/" class="a nav-link">
                        Главная
                    </a>
                </li>

                {% for item in menu[-1] %}
                    <li class="nav-item">
                        <a href="/{{ item.link }}" class="nav-link a">
                            {{ item.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </aside>
{% endmacro %}
