{% macro swiper(images, id = 'swiper') %}
    {% from 'macro/icon.html.twig' import icon %}

    <div id="{{ id }}" class="swiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for image in images %}
                    <div class="swiper-slide">
                        <img data-src="/imagecache/swiper{{ image.url }}" class="swiper-lazy">
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                {% endfor %}
            </div>

            <div class="swiper-pagination"></div>
            <div class="swiper-button-close">{{ icon('x') }}</div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
{% endmacro %}
