<div>
    <h4>Информация о заказе №{{ ('00000' ~ order.id)|slice(-6) }}</h4>

    <table border="1" cellspacing="0">
        <tbody align="left">
        <tr>
            <td><b>Дом:</b></td>
            <td>{{ order.home.title }}</td>
        </tr>

        <tr>
            <td><b>Процент бронирования:</b></td>
            <td>{{ order.home.percentage }}%</td>
        </tr>

        <tr>
            <td><b>Имя клиента:</b></td>
            <td>{{ order.name }}</td>
        </tr>
        <tr>
            <td><b>Номер телефона:</b></td>
            <td>+{{ order.phone }}</td>
        </tr>
        <tr>
            <td><b>Email:</b></td>
            <td>{{ order.email }}</td>
        </tr>
        <tr>
            <td><b>Оплачено:</b></td>
            <td>{{ order.amount }} руб.</td>
        </tr>

        <tr>
            {% set debt = ((order.amount / order.home.percentage) * 100) - order.amount %}
            <td><b>Долг:</b></td>
            <td>{{ debt|round(2) }} руб.</td>
        </tr>

        <tr>
            <td><b>Дата заезда:</b></td>
            <td>{{ order.dates|first.date|date('d.m.Y') }}</td>
        </tr>

        <tr>
            <td><b>Дата выезда:</b></td>
            <td>{{ order.dates|last.date|date_modify("+1 day")|date('d.m.Y') }}</td>
        </tr>

        <tr>
            <td><b>Дней проживания:</b></td>
            <td>{{ order.dates|length }}</td>
        </tr>

        </tbody>
    </table>
</div>
