@font-face
  font-family: 'Montserrat'
  font-weight: 400
  src: url('../fonts/montserrat/Montserrat-Regular.ttf')

@font-face
  font-family: 'Montserrat'
  font-weight: 500
  src: url('../fonts/montserrat/Montserrat-Medium.ttf'), url('../fonts/montserrat/Montserrat-MediumItalic.ttf')

@font-face
  font-family: 'Montserrat'
  font-weight: 600
  src: url('../fonts/montserrat/Montserrat-SemiBold.ttf'), url('../fonts/montserrat/Montserrat-SemiBoldItalic.ttf')

@font-face
  font-family: 'Montserrat'
  font-weight: 700
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'), url("../fonts/montserrat/Montserrat-BoldItalic.ttf")

@font-face
  font-family: 'Roboto'
  font-weight: 400
  src: url('../fonts/roboto/Roboto-Regular.ttf')

@font-face
  font-family: 'Roboto'
  font-weight: 500
  src: url('../fonts/roboto/Roboto-Medium.ttf'), url('../fonts/roboto/Roboto-MediumItalic.ttf')

@font-face
  font-family: 'Roboto'
  font-weight: 700
  src: url('../fonts/roboto/Roboto-Bold.ttf'), url('../fonts/roboto/Roboto-BoldItalic.ttf')

@font-face
  font-family: 'Roboto Slab'
  font-weight: 400
  src: url('../fonts/roboto-slab/RobotoSlab-Regular.ttf')

@font-face
  font-family: 'Roboto Slab'
  font-weight: 500
  src: url('../fonts/roboto-slab/RobotoSlab-Medium.ttf')

@font-face
  font-family: 'Roboto Slab'
  font-weight: 600
  src: url('../fonts/roboto-slab/RobotoSlab-SemiBold.ttf')

@font-face
  font-family: 'Roboto Slab'
  font-weight: 700
  src: url('../fonts/roboto-slab/RobotoSlab-Bold.ttf')
