.text-red
  color: $red-color!important

.text-black
  color: $black-light-color

.text-muted
  color: $muted!important

.row-fake
  display: flex
  flex-wrap: wrap
  width: 100%

.font-size-small
  font-size: $font-size-small

.font-weight-regular
  font-weight: 500
