@mixin flex($direction: row, $align: center, $justify: space-between)
  display: flex
  flex-direction: $direction
  align-items: $align
  justify-content: $justify

@mixin respond-to($screen)
  @if map-has-key($screens, $screen)
    @if $screen == desktop
      @media screen and (min-width: #{map-get($screens, tablet)+1}px)
        @content
    @else
      @media screen and (max-width: #{map-get($screens, $screen)}px)
        @content
