@import "fonts"
@import "colors"
@import "variables"
@import "mixins"
@import "helpers"
@import "components/range"
@import "components/swiper"

html, button
  font-size: $font-size-base
  line-height: 1.25

body
  background-color: $bg-body
  font-family: $font-family-text
  font-style: normal
  font-weight: normal
  color: $color-text
  @include respond-to(tablet)
    padding-top: $mobile-header-height

@for $i from 1 through 6
  h#{$i}
    color: $color-heading
    font-family: $font-family-heading
    line-height: 1.25

header, main, footer
  padding:
    left: 70px
    right: 70px

  @each $screen, $padding in $padding-container
    @include respond-to($screen)
      padding:
        left: $padding
        right: $padding

h1
  font-size: 2rem
  font-weight: 600
  margin-bottom: 30px
  @include respond-to(tablet)
    font-size: 1.4rem

h2
  font-size: 1.333rem
  font-weight: bold
  @include respond-to(tablet)
    font-size: 1rem


h5
  font-size: 1rem
  font-weight: 600

h6
  font-size: $font-size-small
  font-weight: 600

/*.container
  min-height: 100vh*/

.a
  color: $color-link
  text-decoration: underline

  &.a-alt
    color: $color-link-alternate

  &:hover
    color: $color-link-hover

header
  +flex()
  position: relative
  height: 113px
  background-color: $bg-header
  @include respond-to(tablet)
    position: fixed
    border-bottom: solid 1px $color-border
    top: 0
    width: 100%
    max-width: inherit
    height: $mobile-header-height
    z-index: 999

  .header-last-block
    padding-right: 0
    text-align: right

  .header-phone,
  .header-reserve
    display: block
    font:
      family: $font-family-heading
      weight: 600

  .header-phone
    font-size: $font-size-small

  .header-reserve
    color: $red-color
    padding-top: 25px

    &:hover
      color: lighten($red-color, 10%)

main
  background-color: $bg-main
  padding-top: 25px
  padding-bottom: 25px
  @include respond-to(tablet)
    padding-top: 0

  section
    width: 100%
    padding: 25px 0

footer
  +flex($align: flex-end)
  background-color: $bg-footer
  font-family: $font-family-footer
  font-size: $font-size-small
  padding-top: 25px
  padding-bottom: 25px

  *
    color: #ffffff

  ul
    list-style: none
    padding: 0
    margin: 0

    li
      font-weight: normal

.ico
  +flex($justify: center)
  width: 100%
  height: 100%

.label
  color: $color-label
  font:
    weight: 600
    family: $font-family-heading
    size: $font-size-small
  margin-bottom: 3px

.button
  display: inline-block
  padding: 15px 45px
  color: $color-button
  font-weight: 500
  text-align: center
  background-color: $bg-button
  border-radius: $border-radius
  border: unset
  max-width: 100%

  &:active,
  &:focus
    outline: unset

  &:hover
    color: $color-button
    text-decoration: none
    background-color: lighten($bg-button, 5%)

  &:active
    background-color: darken($bg-button, 5%)

  &:disabled
    background-color: $bg-button-disabled

    &:hover
      background-color: $bg-button-disabled
      cursor: not-allowed

  &.button-small
    font-size: $font-size-small
    padding: 10px 30px

.input
  background-color: #ffffff
  border: solid 1px $color-border-input
  border-radius: 6px
  color: $black-light-color
  font-family: $font-family-input
  font-size: $font-size-small
  height: 36px

  &.date-picker
    position: relative
    background-color: #ffffff
    width: 100%

    &:before
      position: absolute
      right: 7px
      content: ''
      background-image: url("../img/icons/iconic/svg/calendar-2.svg")
      width: 20px
      height: 22px
      z-index: 10

  @each $type in text, password, email, tel, date, datetime
    &[type='#{$type}']
      font-size: $font-size-small
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25)
      padding: 10px

  @each $type in checkbox, radio
    &[type='#{$type}']
      color: $color-checkbox
      width: 20px
      height: 20px

.icon
  width: 22px
  height: 21px

.hr
  border-bottom: solid 1px $color-border
  width: 100%

#logo
  display: block

#logo-mobile
  height: $mobile-header-height - 6px

#main-navigation
  ul.nav
    li.nav-item
      margin: 0 auto
      text-decoration: underline
      font-size: $font-size-small

      a
        color: $blue-light-color
        padding:
          left: 10px
          right: 10px

        &.active
          color: #000000

#slider
  margin: 0 -15px

  .carousel
    max-height: 355px
    @include respond-to(tablet)
      height: 180px
    @include respond-to(phone)
      height: 150px
    @include respond-to(phone-xs)
      height: 120px

  .carousel-grid
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url("../img/slider-grid.png")
    background-repeat: repeat
    background-position: top left

  .carousel-inner,
  .carousel-item
    @include respond-to(tablet)
      height: 100%

      img
        object-fit: cover

  .carousel-item-title
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    color: #ffffff
    font-size: 2rem
    font-weight: 900
    text-align: center
    z-index: 3
    @include respond-to(tablet)
      font-size: 1.8rem
    @include respond-to(phone)
      font-size: 1.5rem
    @include respond-to(phone-xs)
      font-size: 1rem

.content-block
  padding-left: 0
  @include respond-to(tablet)
    padding-left: 15px

.carousel
  width: 100%
  overflow: hidden

  .carousel-item
    img
      object-fit: contain
      height: 100%
      width: 100%

#section-description
  text-align: center

#section-feature
  background-color: $bg-article
  width: 100vw
  padding:
    top: 30px
    bottom: 30px
  @each $screen, $padding in $padding-container
    @include respond-to($screen)
      margin:
        left: -$padding
        right: -$padding
      padding:
        left: $padding
        right: $padding

#map
  width: 100%
  height: 400px

.img-triangle-left:before,
.img-triangle-right:before
    content: ''
    position: absolute
    top: 0
    display: inline-block
    width: 0
    height: 0
    border: 0 solid transparent
    border-bottom-width: 275px
    @include respond-to(phone)
      display: none

.img-triangle-left:before
    left: 0
    border-left-width: 55px
    border-left-color: $bg-article

.img-triangle-right:before
    right: 0
    border-right-width: 55px
    border-right-color: $bg-article

.feature
  +flex($align: stretch)
  flex-wrap: wrap
  min-height: 200px
  border-top: solid 1px $color-border

  &:last-of-type
    border-bottom: solid 1px $color-border

  .feature-image
    min-height: 200px
    overflow: hidden
    background:
      size: cover
      position: center
      repeat: no-repeat
    @include respond-to(tablet)
      min-height: 150px

  .feature-content
    +flex(column, flex-start, center)
    padding: 30px 0
    @include respond-to(phone)
      text-align: center
      padding:
        left: 15px!important
        right: 15px!important

    .feature-text
      font-size: $font-size-small
      margin: 0

    .feature-title
      @include respond-to(tablet)
        width: 100%

.t-scroller
  width: 100%
  padding-bottom: 15px

.thead
  top: 0
  position: -webkit-sticky
  position: sticky
  z-index: 1
  @include respond-to(tablet)
    top: 55px

  .cell
    background-color: #f8f9fa

.tracks,
.scroller
  display: flex
  //overflow-y: hidden
  -webkit-overflow-scrolling: touch

.scroller
  overflow-x: hidden

.tracks
  flex-wrap: wrap
  overflow-x: auto
  //scroll-snap-type: x mandatory

.scenes::-webkit-scrollbar,
.scroller::-webkit-scrollbar
  display: none

.track
  //flex: 1 0 calc(22% + 2px)
  //scroll-snap-align: start
  display: flex
  flex-direction: row

.cell
  +flex($justify: center)
  background-color: #ffffff
  border: solid 1px $color-border
  padding: 5px 15px
  color: $black-color
  font-size: $font-size-small
  font-weight: 500
  text-align: center
  width: 150px
  min-width: 150px
  max-width: 150px
  @include respond-to(tablet)
    min-width: 100px
    max-width: 100px

  &.reserved
    color: $red-color

  &.cell-2x
    min-width: 300px
    @include respond-to(tablet)
      min-width: 200px
      max-width: 200px

  &.cell-sticky
    position: sticky
    position: -webkit-sticky
    left: 0
    top: 0

@media (max-width: 767px)
  .track
    flex: 1 0 calc(50% + 7px)






//.table-calendar
//  border-collapse: collapse
//  border-spacing: 0
//  position: relative
//
//  th
//    position: sticky
//    top: $mobile-header-height
//
//  tr:nth-child(odd)
//    td
//      background-color: $bg-table-zebra
//
//  th, td
//    border: solid 1px $color-border
//    padding: 5px 15px
//    color: $black-color
//    font-size: $font-size-small
//    font-weight: 500
//    text-align: center
//    width: 150px
//    min-width: 150px
//    max-width: 150px
//    @include respond-to(tablet)
//      min-width: 100px
//      max-width: 100px
//
//    &.reserved
//      color: $red-color
//
//    &.headcol,
//    &.headrow
//      position: sticky
//      background-color: $bg-main
//
//    &.headcol
//      left: 0
//      z-index: 90
//
//    &.headrow
//      z-index: 90

#copyright
  +flex($justify: flex-end)
  padding: 15px 0

  @include respond-to(tablet)
    justify-content: center

  a
    line-height: 100%

    img
      height: 100%
      margin-left: 5px

.aside-wrapper
  padding-right: 0
  @include respond-to(tablet)
    padding-right: 15px
    margin-bottom: 25px

.aside
  display: flex
  flex-wrap: wrap
  background-color: $bg-article
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.18), 0 4px 8px rgba(0, 0, 0, 0.18), 0 16px 24px rgba(0, 0, 0, 0.18), 0 24px 32px rgba(0, 0, 0, 0.18)
  width: 100%
  font-family: $font-family-aside
  padding: 20px 15px

  &.aside-rounded
    border-radius: 10px

  .aside-navigator
    width: 100%

    ul
      +flex(column, center, flex-start)

      li
        margin-bottom: 15px

        &:last-of-type
          margin-bottom: 0

        a
          text-align: center
          font-weight: 600
          padding: 0

.footer-contacts
  @include respond-to(tablet)
    text-align: center
    margin-bottom: 25px

.social-wrapper
  +flex($justify: flex-end)
  @include respond-to(tablet)
    justify-content: center

.social
  +flex($justify: center)
  background-color: $blue-color
  border-radius: 3px
  margin: 5px
  width: 34px
  height: 34px
  color: #ffffff

.home
  display: flex
  flex-wrap: wrap
  font-family: $font-family-heading
  font-weight: 500
  position: relative
  margin-bottom: 36px
  min-height: 166px
  height: auto
  overflow: hidden
  padding: 25px
  border-radius: 10px

  .home-image
    min-height: 116px
    padding: 0
    background:
      repeat: no-repeat
      position: center
      size: cover

    &:before
      border-bottom-width: 160px

    @include respond-to(tablet)
      margin-bottom: 15px

    @include respond-to(phone)
      min-height: 150px

  .home-pricing
    +flex(column, flex-start, space-between)
    text-align: left

    .button
      width: 100%
      max-width: 182px

      @include respond-to(tablet)
        width: auto

    @include respond-to(tablet)
      +flex(column)
      position: unset
      margin-bottom: 15px

      .button
        position: absolute
        bottom: 25px

  .home-options
    padding-right: 0
    @include respond-to(tablet)
      padding-left: 0
      margin-bottom: 50px

    @include respond-to(phone)
      text-align: center

    > *
      margin-bottom: 12px
      font-size: $font-size-small


.home-description
  margin: 30px 0

.best-seller
  position: absolute
  bottom: 25px
  right: -60px
  background-color: $red-color
  color: #ffffff
  font-size: $font-size-small
  font-weight: 600
  padding: 5px
  text-align: center
  width: 200px
  height: fit-content
  transform: rotate(-45deg)

  @include respond-to(phone)
    top: 35px
    left: -50px

.checkbox
  +flex(row, flex-start, align-center)

  .input
    margin-right: 5px

#filter
  font-size: $font-size-small
  width: 100%

  .label
    display: inline-block
    width: 100%

  @each $type in date, text, range
    input[type='#{$type}']
      width: 100%
      margin-bottom: 15px

  .checkbox
    margin-top: 10px

  .button
    display: block
    margin: 30px auto 0 auto

.pagination
  margin: 0 auto
  justify-content: center

  .page-item
    .page-link
        background-color: $color-pagination
        border-color: $color-border
        color: $color-text
        text-decoration: none

    &:hover,
    &.active
      .page-link
        background-color: $color-pagination-active
        border-color: $color-pagination-active
        color: #ffffff

#mobile-menu
  position: fixed
  top: 0
  left: -100%
  height: 100vh
  width: 100%
  transition: left 0.25s ease-out 0s
  z-index: 99999

  nav
    background-color: #ffffff
    height: 100%
    width: 100%
    max-width: 350px
    border-right: solid 1px $white-smoke-color

  .list-group-item
    border:
      radius: 0
      left: unset
      right: unset

    > *
      color: $color-label!important
      text-decoration: none

  &.show
    left: 0

.btn-mobile-header
  +flex()
  width: 45px
  height: 45px
  border-color: $color-border

#mobile-menu-close
  padding: 0
  border-color: transparent

.page-title
  margin-bottom: 0
  @include respond-to(tablet)
    text-align: center
    margin-top: 30px

.gallery
  margin-bottom: 40px

  .gallery-item
    +flex()
    overflow: hidden
    border-radius: 10px
    border: solid 1px $color-border
    height: 100px
    cursor: pointer
    margin-bottom: 15px

    img
      width: 100%
      height: 100%
      object-fit: cover
      transition: all 0.2s ease-out 0s

      &:hover
        width: calc(100% + 8px)
        height: calc(100% + 8px)

@each $screen, $width in $screens
  @include respond-to($screen)
    .reverse-col-#{$screen},
    .reverse-row-#{$screen}
      display: flex

    .reverse-col-#{$screen}
      flex-direction: column-reverse

    .reverse-row-#{$screen}
      flex-direction: row-reverse

.text-404
  text-align: center
  padding: 50px 0

.home-date-selector
  max-width: 250px
  margin: 0 auto

.carousel-control-prev,
.carousel-control-next
  +flex($justify: center)
  position: absolute
  top: 50%
  transform: translateY(-50%)
  color: #ffffff
  width: 46px
  height: 46px
  border-radius: 50%
  background-color: $blue-color
  z-index: 5

.carousel-control-prev
  @each $screen, $padding in $padding-container
    @include respond-to($screen)
        left: $padding

.carousel-control-next
  @each $screen, $padding in $padding-container
    @include respond-to($screen)
      right: $padding

#modal-reservation
  .modal-dialog
    .input
      width: 100%

