@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../fonts/montserrat/Montserrat-Regular.ttf"); }
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../fonts/montserrat/Montserrat-Medium.ttf"), url("../fonts/montserrat/Montserrat-MediumItalic.ttf"); }
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf"), url("../fonts/montserrat/Montserrat-SemiBoldItalic.ttf"); }
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../fonts/montserrat/Montserrat-Bold.ttf"), url("../fonts/montserrat/Montserrat-BoldItalic.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto/Roboto-Regular.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/roboto/Roboto-Medium.ttf"), url("../fonts/roboto/Roboto-MediumItalic.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/roboto/Roboto-Bold.ttf"), url("../fonts/roboto/Roboto-BoldItalic.ttf"); }
@font-face {
  font-family: "Roboto Slab";
  font-weight: 400;
  src: url("../fonts/roboto-slab/RobotoSlab-Regular.ttf"); }
@font-face {
  font-family: "Roboto Slab";
  font-weight: 500;
  src: url("../fonts/roboto-slab/RobotoSlab-Medium.ttf"); }
@font-face {
  font-family: "Roboto Slab";
  font-weight: 600;
  src: url("../fonts/roboto-slab/RobotoSlab-SemiBold.ttf"); }
@font-face {
  font-family: "Roboto Slab";
  font-weight: 700;
  src: url("../fonts/roboto-slab/RobotoSlab-Bold.ttf"); }
.text-red {
  color: #c04747 !important; }

.text-black {
  color: #333333; }

.text-muted {
  color: #646464 !important; }

.row-fake {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.font-size-small {
  font-size: 0.778rem; }

.font-weight-regular {
  font-weight: 500; }

.range {
  position: relative;
  width: 100%;
  height: 5px;
  margin-top: 25px; }

.range input {
  width: 100%;
  position: absolute;
  top: 2px;
  height: 0;
  -webkit-appearance: none; }
  .range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    margin-top: -3px;
    border-radius: 50%;
    border: solid 1px #75757b;
    background: linear-gradient(180deg, #BDBBB2 0%, #FFFFFF 100%);
    cursor: pointer; }
  .range input::-moz-range-thumb {
    width: 12px;
    height: 12px;
    margin-top: -3px;
    border-radius: 50%;
    border: solid 1px #75757b;
    background: linear-gradient(180deg, #BDBBB2 0%, #FFFFFF 100%);
    cursor: pointer; }
  .range input::-ms-thumb {
    width: 12px;
    height: 12px;
    margin-top: -3px;
    border-radius: 50%;
    border: solid 1px #75757b;
    background: linear-gradient(180deg, #BDBBB2 0%, #FFFFFF 100%);
    cursor: pointer; }
  .range input::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #f1efef;
    border: solid 1px #939191;
    border-radius: 3px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 10px;
    padding-right: 10px; }
  .range input::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #f1efef;
    border: solid 1px #939191;
    border-radius: 3px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 10px;
    padding-right: 10px; }
  .range input::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #f1efef;
    border: solid 1px #939191;
    border-radius: 3px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 10px;
    padding-right: 10px; }
  .range input[data-any-val]::-webkit-slider-runnable-track, .range input[data-any-val]::-moz-range-track, .range input[data-any-val]::-ms-track {
    padding-left: 10px;
    padding-right: 10px; }
  .range input:focus {
    background: none;
    outline: none; }
  .range input::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent; }

.range-labels {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: -25px;
  padding: 0 4px;
  list-style: none; }
  .range-labels li {
    position: relative;
    float: left;
    width: auto;
    text-align: center;
    color: #333333;
    font-size: 11px;
    font-family: "Montserat";
    font-weight: 500;
    cursor: pointer;
    /*&::before
     * position: absolute
     * top: -25px
     * right: 0
     * left: 0
     * content: ""
     * margin: 0 auto
     * width: 9px
     * height: 9px
     * background: #b2b2b2
     * border-radius: 50% */ }
  .range-labels .active {
    color: #0078bf; }
  .range-labels .selected::before {
    background: #c04747; }
  .range-labels .active.selected::before {
    display: none; }

.swiper {
  display: none;
  position: fixed;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999; }
  @media screen and (max-width: 991px) {
    .swiper {
      padding: 15px; } }
  @media screen and (max-width: 767px) {
    .swiper {
      padding: 0; } }
  .swiper.show {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  .swiper .swiper-container {
    width: 100%;
    height: 100%; }
    .swiper .swiper-container .swiper-button-prev,
    .swiper .swiper-container .swiper-button-next,
    .swiper .swiper-container .swiper-button-close {
      cursor: pointer;
      color: #ffffff;
      opacity: 0.5;
      transition: opacity 0.15s ease 0s;
      z-index: 999; }
      .swiper .swiper-container .swiper-button-prev:hover,
      .swiper .swiper-container .swiper-button-next:hover,
      .swiper .swiper-container .swiper-button-close:hover {
        opacity: 1; }
    .swiper .swiper-container .swiper-button-close {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      font-size: 40px;
      width: 15%;
      height: 55px;
      top: 25px;
      right: 0; }
    .swiper .swiper-container .swiper-pagination-bullet {
      border-color: rgba(0, 0, 0, 0.75);
      background-color: #ffffff;
      opacity: 0.5;
      width: 10px;
      height: 10px; }
      .swiper .swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active {
        opacity: 1; }
    .swiper .swiper-container .swiper-slide {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      .swiper .swiper-container .swiper-slide img {
        max-width: calc(100% - 90px);
        max-height: 100%; }

html, button {
  font-size: 18px;
  line-height: 1.25; }

body {
  background-color: #e5e5e5;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: normal;
  color: #646464; }
  @media screen and (max-width: 991px) {
    body {
      padding-top: 55px; } }

h1 {
  color: #040404;
  font-family: "Montserrat";
  line-height: 1.25; }

h2 {
  color: #040404;
  font-family: "Montserrat";
  line-height: 1.25; }

h3 {
  color: #040404;
  font-family: "Montserrat";
  line-height: 1.25; }

h4 {
  color: #040404;
  font-family: "Montserrat";
  line-height: 1.25; }

h5 {
  color: #040404;
  font-family: "Montserrat";
  line-height: 1.25; }

h6 {
  color: #040404;
  font-family: "Montserrat";
  line-height: 1.25; }

header, main, footer {
  padding-left: 70px;
  padding-right: 70px; }
  @media screen and (min-width: 992px) {
    header, main, footer {
      padding-left: 70px;
      padding-right: 70px; } }
  @media screen and (max-width: 991px) {
    header, main, footer {
      padding-left: 45px;
      padding-right: 45px; } }
  @media screen and (max-width: 767px) {
    header, main, footer {
      padding-left: 15px;
      padding-right: 15px; } }

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 30px; }
  @media screen and (max-width: 991px) {
    h1 {
      font-size: 1.4rem; } }

h2 {
  font-size: 1.333rem;
  font-weight: bold; }
  @media screen and (max-width: 991px) {
    h2 {
      font-size: 1rem; } }

h5 {
  font-size: 1rem;
  font-weight: 600; }

h6 {
  font-size: 0.778rem;
  font-weight: 600; }

/*.container
 * min-height: 100vh */
.a {
  color: #0078bf;
  text-decoration: underline; }
  .a.a-alt {
    color: #c04747; }
  .a:hover {
    color: #2a9dd5; }

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 113px;
  background-color: #ffffff; }
  @media screen and (max-width: 991px) {
    header {
      position: fixed;
      border-bottom: solid 1px #bdbdbd;
      top: 0;
      width: 100%;
      max-width: inherit;
      height: 55px;
      z-index: 999; } }
  header .header-last-block {
    padding-right: 0;
    text-align: right; }
  header .header-phone,
  header .header-reserve {
    display: block;
    font-family: "Montserrat";
    font-weight: 600; }
  header .header-phone {
    font-size: 0.778rem; }
  header .header-reserve {
    color: #c04747;
    padding-top: 5px; }
    header .header-reserve:hover {
      color: #cd6d6d; }

main {
  background-color: #ffffff;
  padding-top: 25px;
  padding-bottom: 25px; }
  @media screen and (max-width: 991px) {
    main {
      padding-top: 0; } }
  main section {
    width: 100%;
    padding: 25px 0; }

footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #272727;
  font-family: "Roboto";
  font-size: 0.778rem;
  padding-top: 25px;
  padding-bottom: 25px; }
  footer * {
    color: #ffffff; }
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    footer ul li {
      font-weight: normal; }

.ico {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

.label {
  color: #333333;
  font-weight: 600;
  font-family: "Montserrat";
  font-size: 0.778rem;
  margin-bottom: 3px; }

.button {
  display: inline-block;
  padding: 15px 45px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  background-color: #c04747;
  border-radius: 8px;
  border: unset;
  max-width: 100%; }
  .button:active, .button:focus {
    outline: unset; }
  .button:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #c75a5a; }
  .button:active {
    background-color: #b13d3d; }
  .button:disabled {
    background-color: #646464; }
    .button:disabled:hover {
      background-color: #646464;
      cursor: not-allowed; }
  .button.button-small {
    font-size: 0.778rem;
    padding: 10px 30px; }

.input {
  background-color: #ffffff;
  border: solid 1px #939191;
  border-radius: 6px;
  color: #333333;
  font-family: "Roboto";
  font-size: 0.778rem;
  height: 36px; }
  .input.date-picker {
    position: relative;
    background-color: #ffffff;
    width: 100%; }
    .input.date-picker:before {
      position: absolute;
      right: 7px;
      content: "";
      background-image: url("../img/icons/iconic/svg/calendar-2.svg");
      width: 20px;
      height: 22px;
      z-index: 10; }
  .input[type='text'] {
    font-size: 0.778rem;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px; }
  .input[type='password'] {
    font-size: 0.778rem;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px; }
  .input[type='email'] {
    font-size: 0.778rem;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px; }
  .input[type='tel'] {
    font-size: 0.778rem;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px; }
  .input[type='date'] {
    font-size: 0.778rem;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px; }
  .input[type='datetime'] {
    font-size: 0.778rem;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px; }
  .input[type='checkbox'] {
    color: #2a9dd5;
    width: 20px;
    height: 20px; }
  .input[type='radio'] {
    color: #2a9dd5;
    width: 20px;
    height: 20px; }

.icon {
  width: 22px;
  height: 21px; }

.hr {
  border-bottom: solid 1px #bdbdbd;
  width: 100%; }

#logo {
  display: block; }

#logo-mobile {
  height: 49px; }

#main-navigation ul.nav li.nav-item {
  margin: 0 auto;
  text-decoration: underline;
  font-size: 0.778rem; }
  #main-navigation ul.nav li.nav-item a {
    color: #2a9dd5;
    padding-left: 10px;
    padding-right: 10px; }
    #main-navigation ul.nav li.nav-item a.active {
      color: #000000; }

#slider {
  margin: 0 -15px; }
  #slider .carousel {
    max-height: 355px; }
    @media screen and (max-width: 991px) {
      #slider .carousel {
        height: 180px; } }
    @media screen and (max-width: 767px) {
      #slider .carousel {
        height: 150px; } }
    @media screen and (max-width: 575px) {
      #slider .carousel {
        height: 120px; } }
  #slider .carousel-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/slider-grid.png");
    background-repeat: repeat;
    background-position: top left; }
  @media screen and (max-width: 991px) {
    #slider .carousel-inner,
    #slider .carousel-item {
      height: 100%; }
      #slider .carousel-inner img,
      #slider .carousel-item img {
        object-fit: cover; } }
  #slider .carousel-item-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    z-index: 3; }
    @media screen and (max-width: 991px) {
      #slider .carousel-item-title {
        font-size: 1.8rem; } }
    @media screen and (max-width: 767px) {
      #slider .carousel-item-title {
        font-size: 1.5rem; } }
    @media screen and (max-width: 575px) {
      #slider .carousel-item-title {
        font-size: 1rem; } }

.content-block {
  padding-left: 0; }
  @media screen and (max-width: 991px) {
    .content-block {
      padding-left: 15px; } }

.carousel {
  width: 100%;
  overflow: hidden; }
  .carousel .carousel-item img {
    object-fit: contain;
    height: 100%;
    width: 100%; }

#section-description {
  text-align: center; }

#section-feature {
  background-color: #edf2f5;
  width: 100vw;
  padding-top: 30px;
  padding-bottom: 30px; }
  @media screen and (min-width: 992px) {
    #section-feature {
      margin-left: -70px;
      margin-right: -70px;
      padding-left: 70px;
      padding-right: 70px; } }
  @media screen and (max-width: 991px) {
    #section-feature {
      margin-left: -45px;
      margin-right: -45px;
      padding-left: 45px;
      padding-right: 45px; } }
  @media screen and (max-width: 767px) {
    #section-feature {
      margin-left: -15px;
      margin-right: -15px;
      padding-left: 15px;
      padding-right: 15px; } }

#map {
  width: 100%;
  height: 400px; }

.img-triangle-left:before,
.img-triangle-right:before {
  content: "";
  position: absolute;
  top: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-bottom-width: 275px; }
  @media screen and (max-width: 767px) {
    .img-triangle-left:before,
    .img-triangle-right:before {
      display: none; } }

.img-triangle-left:before {
  left: 0;
  border-left-width: 55px;
  border-left-color: #edf2f5; }

.img-triangle-right:before {
  right: 0;
  border-right-width: 55px;
  border-right-color: #edf2f5; }

.feature {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 200px;
  border-top: solid 1px #bdbdbd; }
  .feature:last-of-type {
    border-bottom: solid 1px #bdbdbd; }
  .feature .feature-image {
    min-height: 200px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    @media screen and (max-width: 991px) {
      .feature .feature-image {
        min-height: 150px; } }
  .feature .feature-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px 0; }
    @media screen and (max-width: 767px) {
      .feature .feature-content {
        text-align: center;
        padding-left: 15px !important;
        padding-right: 15px !important; } }
    .feature .feature-content .feature-text {
      font-size: 0.778rem;
      margin: 0; }
    @media screen and (max-width: 991px) {
      .feature .feature-content .feature-title {
        width: 100%; } }

.t-scroller {
  width: 100%;
  padding-bottom: 15px; }

.thead {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1; }
  @media screen and (max-width: 991px) {
    .thead {
      top: 55px; } }
  .thead .cell {
    background-color: #f8f9fa; }

.tracks,
.scroller {
  display: flex;
  -webkit-overflow-scrolling: touch; }

.scroller {
  overflow-x: hidden; }

.tracks {
  flex-wrap: wrap;
  overflow-x: auto; }

.scenes::-webkit-scrollbar,
.scroller::-webkit-scrollbar {
  display: none; }

.track {
  display: flex;
  flex-direction: row; }

.cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: solid 1px #bdbdbd;
  padding: 5px 15px;
  color: #040404;
  font-size: 0.778rem;
  font-weight: 500;
  text-align: center;
  width: 150px;
  min-width: 150px;
  max-width: 150px; }
  @media screen and (max-width: 991px) {
    .cell {
      min-width: 100px;
      max-width: 100px; } }
  .cell.reserved {
    color: #c04747; }
  .cell.cell-2x {
    min-width: 300px; }
    @media screen and (max-width: 991px) {
      .cell.cell-2x {
        min-width: 200px;
        max-width: 200px; } }
  .cell.cell-sticky {
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    top: 0; }

@media (max-width: 767px) {
  .track {
    flex: 1 0 calc(50% + 7px); } }
#copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 0; }
  @media screen and (max-width: 991px) {
    #copyright {
      justify-content: center; } }
  #copyright a {
    line-height: 100%; }
    #copyright a img {
      height: 100%;
      margin-left: 5px; }

.aside-wrapper {
  padding-right: 0; }
  @media screen and (max-width: 991px) {
    .aside-wrapper {
      padding-right: 15px;
      margin-bottom: 25px; } }

.aside {
  display: flex;
  flex-wrap: wrap;
  background-color: #edf2f5;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.18), 0 4px 8px rgba(0, 0, 0, 0.18), 0 16px 24px rgba(0, 0, 0, 0.18), 0 24px 32px rgba(0, 0, 0, 0.18);
  width: 100%;
  font-family: "Montserrat";
  padding: 20px 15px; }
  .aside.aside-rounded {
    border-radius: 10px; }
  .aside .aside-navigator {
    width: 100%; }
    .aside .aside-navigator ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
      .aside .aside-navigator ul li {
        margin-bottom: 15px; }
        .aside .aside-navigator ul li:last-of-type {
          margin-bottom: 0; }
        .aside .aside-navigator ul li a {
          text-align: center;
          font-weight: 600;
          padding: 0; }

@media screen and (max-width: 991px) {
  .footer-contacts {
    text-align: center;
    margin-bottom: 25px; } }

.social-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; }
  @media screen and (max-width: 991px) {
    .social-wrapper {
      justify-content: center; } }

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #0078bf;
  border-radius: 3px;
  margin: 5px;
  width: 34px;
  height: 34px;
  color: #ffffff; }

.home {
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat";
  font-weight: 500;
  position: relative;
  margin-bottom: 36px;
  min-height: 166px;
  height: auto;
  overflow: hidden;
  padding: 25px;
  border-radius: 10px; }
  .home .home-image {
    min-height: 116px;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .home .home-image:before {
      border-bottom-width: 160px; }
    @media screen and (max-width: 991px) {
      .home .home-image {
        margin-bottom: 15px; } }
    @media screen and (max-width: 767px) {
      .home .home-image {
        min-height: 150px; } }
  .home .home-pricing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left; }
    .home .home-pricing .button {
      width: 100%;
      max-width: 182px; }
      @media screen and (max-width: 991px) {
        .home .home-pricing .button {
          width: auto; } }
    @media screen and (max-width: 991px) {
      .home .home-pricing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: unset;
        margin-bottom: 15px; }
        .home .home-pricing .button {
          position: absolute;
          bottom: 25px; } }
  .home .home-options {
    padding-right: 0; }
    @media screen and (max-width: 991px) {
      .home .home-options {
        padding-left: 0;
        margin-bottom: 50px; } }
    @media screen and (max-width: 767px) {
      .home .home-options {
        text-align: center; } }
    .home .home-options > * {
      margin-bottom: 12px;
      font-size: 0.778rem; }

.home-description {
  margin: 30px 0; }

.best-seller {
  position: absolute;
  bottom: 25px;
  right: -60px;
  background-color: #c04747;
  color: #ffffff;
  font-size: 0.778rem;
  font-weight: 600;
  padding: 5px;
  text-align: center;
  width: 200px;
  height: fit-content;
  transform: rotate(-45deg); }
  @media screen and (max-width: 767px) {
    .best-seller {
      top: 35px;
      left: -50px; } }

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: align-center; }
  .checkbox .input {
    margin-right: 5px; }

#filter {
  font-size: 0.778rem;
  width: 100%; }
  #filter .label {
    display: inline-block;
    width: 100%; }
  #filter input[type='date'] {
    width: 100%;
    margin-bottom: 15px; }
  #filter input[type='text'] {
    width: 100%;
    margin-bottom: 15px; }
  #filter input[type='range'] {
    width: 100%;
    margin-bottom: 15px; }
  #filter .checkbox {
    margin-top: 10px; }
  #filter .button {
    display: block;
    margin: 30px auto 0 auto; }

.pagination {
  margin: 0 auto;
  justify-content: center; }
  .pagination .page-item .page-link {
    background-color: #edf2f5;
    border-color: #bdbdbd;
    color: #646464;
    text-decoration: none; }
  .pagination .page-item:hover .page-link, .pagination .page-item.active .page-link {
    background-color: #c04747;
    border-color: #c04747;
    color: #ffffff; }

#mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  transition: left 0.25s ease-out 0s;
  z-index: 99999; }
  #mobile-menu nav {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    max-width: 350px;
    border-right: solid 1px #edf2f5; }
  #mobile-menu .list-group-item {
    border-radius: 0;
    border-left: unset;
    border-right: unset; }
    #mobile-menu .list-group-item > * {
      color: #333333 !important;
      text-decoration: none; }
  #mobile-menu.show {
    left: 0; }

.btn-mobile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 45px;
  height: 45px;
  border-color: #bdbdbd; }

#mobile-menu-close {
  padding: 0;
  border-color: transparent; }

.page-title {
  margin-bottom: 0; }
  @media screen and (max-width: 991px) {
    .page-title {
      text-align: center;
      margin-top: 30px; } }

.gallery {
  margin-bottom: 40px; }
  .gallery .gallery-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 10px;
    border: solid 1px #bdbdbd;
    height: 100px;
    cursor: pointer;
    margin-bottom: 15px; }
    .gallery .gallery-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.2s ease-out 0s; }
      .gallery .gallery-item img:hover {
        width: calc(100% + 8px);
        height: calc(100% + 8px); }

@media screen and (min-width: 992px) {
  .reverse-col-desktop,
  .reverse-row-desktop {
    display: flex; }

  .reverse-col-desktop {
    flex-direction: column-reverse; }

  .reverse-row-desktop {
    flex-direction: row-reverse; } }
@media screen and (max-width: 991px) {
  .reverse-col-tablet,
  .reverse-row-tablet {
    display: flex; }

  .reverse-col-tablet {
    flex-direction: column-reverse; }

  .reverse-row-tablet {
    flex-direction: row-reverse; } }
@media screen and (max-width: 767px) {
  .reverse-col-phone,
  .reverse-row-phone {
    display: flex; }

  .reverse-col-phone {
    flex-direction: column-reverse; }

  .reverse-row-phone {
    flex-direction: row-reverse; } }
@media screen and (max-width: 575px) {
  .reverse-col-phone-xs,
  .reverse-row-phone-xs {
    display: flex; }

  .reverse-col-phone-xs {
    flex-direction: column-reverse; }

  .reverse-row-phone-xs {
    flex-direction: row-reverse; } }
.text-404 {
  text-align: center;
  padding: 50px 0; }

.home-date-selector {
  max-width: 250px;
  margin: 0 auto; }

.carousel-control-prev,
.carousel-control-next {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #0078bf;
  z-index: 5; }

@media screen and (min-width: 992px) {
  .carousel-control-prev {
    left: 70px; } }
@media screen and (max-width: 991px) {
  .carousel-control-prev {
    left: 45px; } }
@media screen and (max-width: 767px) {
  .carousel-control-prev {
    left: 15px; } }

@media screen and (min-width: 992px) {
  .carousel-control-next {
    right: 70px; } }
@media screen and (max-width: 991px) {
  .carousel-control-next {
    right: 45px; } }
@media screen and (max-width: 767px) {
  .carousel-control-next {
    right: 15px; } }

#modal-reservation .modal-dialog .input {
  width: 100%; }

/*# sourceMappingURL=style.css.map */
